Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add the user cart query and mutation hooks
  apps/web/src/entities/cart/api/queryKey.ts
  apps/web/src/entities/cart/api/useUserCart.ts
  apps/web/src/entities/cart/index.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): label the cart shipping fee as a main-island estimate
  apps/web/src/features/cart/ui/CartBar.tsx
  apps/web/src/features/cart/ui/CartSummary.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): count only selectable lines in the brand checkbox
  apps/web/src/features/cart/ui/CartBrandGroup.test.tsx
  apps/web/src/features/cart/ui/CartBrandGroup.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add cart lines in one batched request
  apps/web/src/entities/cart/api/useUserCart.ts
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/entities/cart/model/useCart.ts
  apps/web/src/features/cart/model/useAddToCartDraft.test.tsx
  apps/web/src/shared/services/userCart.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): repair the product build broken by the option type migration
  apps/web/src/entities/product/lib/optionAxes.test.ts
  apps/web/src/entities/product/lib/optionAxes.ts
  apps/web/src/features/product/index.tsx
  apps/web/src/features/product/ui/ProductDetailInfo.tsx
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): cc the verified address on contact inquiries
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
  apps/web/src/shared/services/inquiry.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(release): web v1.2.0, admin v0.1.1
  apps/admin/CHANGELOG.md
  apps/admin/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: none

feat(admin): add member list and summary API services
  apps/admin/src/shared/services/member.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): drop the order agreement section
  apps/web/src/features/order/index.tsx
  apps/web/src/features/order/ui/OrderAgreementSection.tsx
  apps/web/src/views/order/ui/OrderPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add the order form page
  apps/web/src/app/[locale]/order/page.tsx
  apps/web/src/entities/order/api/useOrderPreviewQuery.ts
  apps/web/src/entities/order/index.ts
  apps/web/src/features/order/index.tsx
  apps/web/src/features/order/model/schema.test.ts
  apps/web/src/features/order/model/schema.ts
  apps/web/src/features/order/model/useOrderItems.ts
  apps/web/src/features/order/model/useOrderShipping.ts
  apps/web/src/features/order/ui/OrderAgreementSection.tsx
  apps/web/src/features/order/ui/OrderAmountRows.tsx
  apps/web/src/features/order/ui/OrderBar.tsx
  apps/web/src/features/order/ui/OrderItemList.tsx
  apps/web/src/features/order/ui/OrderPaymentSection.tsx
  apps/web/src/features/order/ui/OrderSection.tsx
  apps/web/src/features/order/ui/OrderShippingSection.tsx
  apps/web/src/features/order/ui/OrderSummary.tsx
  apps/web/src/views/order/index.tsx
  apps/web/src/views/order/ui/OrderPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): enable the order pay button once the address is complete
  apps/web/src/features/order/model/useOrderShipping.test.ts
  apps/web/src/features/order/model/useOrderShipping.ts
  apps/web/src/features/order/ui/OrderBar.tsx
  apps/web/src/features/order/ui/OrderSummary.tsx
  apps/web/src/views/order/ui/OrderPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): repair the order shipping fields flagged in the UI review
  apps/web/src/features/order/ui/OrderShippingSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): link the cart order button to the order form
  apps/web/src/features/cart/ui/CartBar.tsx
  apps/web/src/features/cart/ui/CartList.tsx
  apps/web/src/features/cart/ui/CartSummary.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(web): correct the order mockup shipping fee and add the agreement section
  apps/web/docs/order-mockup.html
Due: none

fix(web): let the cart order CTA fill its whole button
  apps/web/src/features/cart/ui/CartBar.tsx
  apps/web/src/features/cart/ui/CartSummary.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): normalise the order phone number to one +886 form
  apps/web/src/features/order/model/schema.test.ts
  apps/web/src/features/order/model/schema.ts
  apps/web/src/features/order/model/useOrderShipping.ts
  apps/web/src/features/order/ui/OrderShippingSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): drop the disabled buy-now button from product detail
  apps/web/src/features/cart/ui/AddToCart.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): lift the shared user queries and region data out of mypage
  apps/web/src/entities/user/api/useUserInfoQuery.ts
  apps/web/src/entities/user/api/useUserProfileQuery.ts
  apps/web/src/entities/user/index.ts
  apps/web/src/features/mypage/api/useGetUserInfoQuery.ts
  apps/web/src/features/mypage/api/useGetUserProfileQuery.ts
  apps/web/src/features/mypage/lib/regions.ts
  apps/web/src/shared/lib/regions.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): put the order page behind a suspense boundary
  apps/web/src/app/[locale]/order/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(release): web v1.3.0
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: none

feat(web): drive the order sheet from a single order source
  apps/web/src/entities/cart/model/cartSelectors.ts
  apps/web/src/entities/order/api/useOrderPreviewQuery.ts
  apps/web/src/entities/order/index.ts
  apps/web/src/entities/order/model/orderSource.test.tsx
  apps/web/src/entities/order/model/orderSource.ts
  apps/web/src/features/cart/ui/CartList.tsx
  apps/web/src/features/order/model/useOrderItems.ts
  apps/web/src/features/order/ui/OrderItemList.tsx
  apps/web/src/shared/services/userOrder.ts
  apps/web/src/views/order/ui/OrderPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add a buy-now entry point to product detail
  apps/web/src/entities/order/index.ts
  apps/web/src/entities/order/model/orderSource.test.tsx
  apps/web/src/entities/order/model/orderSource.ts
  apps/web/src/features/cart/model/useAddToCartDraft.test.tsx
  apps/web/src/features/cart/model/useAddToCartDraft.ts
  apps/web/src/features/cart/ui/AddToCart.tsx
  apps/web/src/features/cart/ui/CartList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): let a variant be picked again after its line is removed
  apps/web/src/features/cart/ui/ProductOptionSelects.tsx
  apps/web/src/features/cart/ui/ProductVariantSelect.test.tsx
  apps/web/src/features/cart/ui/ProductVariantSelect.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): keep the order sheet rendered while a new address is priced
  apps/web/src/entities/order/api/useOrderPreviewQuery.test.tsx
  apps/web/src/entities/order/api/useOrderPreviewQuery.ts
  apps/web/src/features/order/model/useOrderItems.ts
  apps/web/src/features/order/ui/OrderAmountRows.tsx
  apps/web/src/views/order/ui/OrderPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(release): web v1.4.0
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: none

fix(admin): stop wide tables from overflowing the page
  apps/admin/src/shared/components/layout.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add service member list and detail pages
  apps/admin/src/Router.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberActivitySection.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberActivityTabs.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberCartPanel.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberDetailCard.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberDetailHeader.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberInfoPanels.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberLikePanel.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberOrderPanel.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/MemberRecentPanel.tsx
  apps/admin/src/pages/MemberPage/DetailPage/components/index.ts
  apps/admin/src/pages/MemberPage/DetailPage/index.tsx
  apps/admin/src/pages/MemberPage/ListPage/components/MemberFilters.tsx
  apps/admin/src/pages/MemberPage/ListPage/components/MemberResultBar.tsx
  apps/admin/src/pages/MemberPage/ListPage/components/MemberSummaryStrip.tsx
  apps/admin/src/pages/MemberPage/ListPage/components/MemberTable.tsx
  apps/admin/src/pages/MemberPage/ListPage/components/index.ts
  apps/admin/src/pages/MemberPage/ListPage/hooks/index.ts
  apps/admin/src/pages/MemberPage/ListPage/hooks/useMemberListFilters.ts
  apps/admin/src/pages/MemberPage/ListPage/index.tsx
  apps/admin/src/pages/MemberPage/components/MemberProviderBadge.tsx
  apps/admin/src/pages/MemberPage/components/index.ts
  apps/admin/src/pages/MemberPage/constants.ts
  apps/admin/src/pages/MemberPage/hooks/index.ts
  apps/admin/src/pages/MemberPage/hooks/queryKeys.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberCartQuery.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberLikeListQuery.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberListQuery.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberOrderListQuery.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberQuery.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberRecentListQuery.ts
  apps/admin/src/pages/MemberPage/hooks/useAdminMemberSummaryQuery.ts
  apps/admin/src/pages/MemberPage/index.ts
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
  apps/admin/src/shared/services/member.ts
  apps/admin/src/shared/utils/format.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(release): admin v0.2.0
  apps/admin/CHANGELOG.md
  apps/admin/package.json
Due: none

feat(admin): build dashboard home as a hub of management cards
  apps/admin/src/pages/HomePage/components/CountCard.tsx
  apps/admin/src/pages/HomePage/components/DashboardCardBoundary.tsx
  apps/admin/src/pages/HomePage/components/DashboardCardFrame.tsx
  apps/admin/src/pages/HomePage/components/MemberCountCard.tsx
  apps/admin/src/pages/HomePage/components/index.ts
  apps/admin/src/pages/HomePage/constants.ts
  apps/admin/src/pages/HomePage/hooks/queryKeys.ts
  apps/admin/src/pages/HomePage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(release): admin v0.3.0
  apps/admin/CHANGELOG.md
  apps/admin/package.json
Due: none

feat(web): add the guest cart service and design the guest cart flow
  apps/web/src/shared/services/guestCart.ts
  docs/superpowers/specs/2026-09-21-guest-cart-design.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: plan the guest cart implementation
  docs/superpowers/plans/2026-09-21-guest-cart.md
Due: none

refactor(web): key cart lines by product variant instead of cart item id
  apps/web/src/entities/cart/model/cartSelectors.test.ts
  apps/web/src/entities/cart/model/cartSelectors.ts
  apps/web/src/features/cart/model/useCartSelection.test.ts
  apps/web/src/features/cart/model/useCartSelection.ts
  apps/web/src/features/cart/ui/CartBrandGroup.test.tsx
  apps/web/src/features/cart/ui/CartBrandGroup.tsx
  apps/web/src/features/cart/ui/CartList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

test(web): decouple cartItemId from productVariantId in cart fixtures
  apps/web/src/features/cart/model/useCartSelection.test.ts
  apps/web/src/features/cart/ui/CartBrandGroup.test.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): declare the cart adapter contract
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/types.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): keep the guest cart id
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/guestId.test.ts
  apps/web/src/entities/cart/model/guestId.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: correct the plan where it would key a member delete by SKU
  docs/superpowers/plans/2026-09-21-guest-cart.md
Due: none

feat(web): resolve which cart is in use
  apps/web/src/entities/cart/api/useCartSource.ts
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/cartSource.test.ts
  apps/web/src/entities/cart/model/cartSource.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): gather the member cart behind the adapter contract
  apps/web/src/entities/cart/api/useMemberCart.ts
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/cartSelectors.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/entities/cart/model/useCart.ts
  apps/web/src/entities/cart/model/useCartBadgeCount.ts
  apps/web/src/entities/cart/ui/CartLineRow.tsx
  apps/web/src/features/cart/ui/CartBrandGroup.tsx
  apps/web/src/features/cart/ui/CartList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
