Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(gemini): add .geminiignore file
  .geminiignore
Due: none

chore(gemini): add QA & Test Automation sub-agent
  .gemini/agents/qa-engineer.md
  .gemini/agents/tech-lead.md
  .gemini/skills/vitest-helper/SKILL.md
  .gemini/skills/vitest-helper/references/component-test.md
  .gemini/skills/vitest-helper/references/hook-test.md
  .gemini/skills/vitest-helper/references/util-test.md
Due: none

refactor(web): 상품 리스트의 공통 무한 스크롤 및 옵저버 로직 추출
  apps/web/src/features/product/model/useProductListLogic.ts
  apps/web/src/features/product/ui/ProductList/Desktop/ProductCardList.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/ProductListSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update tech-lead.md
  .gemini/agents/seo-expert.md
  .gemini/agents/tech-lead.md
Due: none

docs: Modularize figma-to-code guides and establish a reference system
  .gemini/skills/figma-to-code/SKILL.md
  .gemini/skills/figma-to-code/references/architecture-pattern.md
  .gemini/skills/figma-to-code/references/ui-components-pattern.md
Due: none

refactor(web): extract ScrollToTop logic into a custom hook and widgetize
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useScrollToTop.ts
  apps/web/src/shared/ui/floating.tsx
  apps/web/src/shared/ui/scroll-restoration.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
  apps/web/src/widgets/scroll-to-top/index.tsx
  apps/web/src/widgets/scroll-to-top/ui/ScrollToTop.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): move promotion detail page path
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandOnlineEvent
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandSpecialEvent
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandOfflinePopup
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): implement promotion page and components
  apps/web/next.config.ts
  apps/web/src/app/[locale]/promotion/page.tsx
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandLookbook.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/features/promotion/ui/MainBanner.tsx
  apps/web/src/views/promotion/index.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): enhance BrandOnlineEvent and apply dynamic routing
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/BrandLinksSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/EventCard.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/NoticeSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(promotion): modularize BrandLookbook and apply semantic naming
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): integrate brand promotion API and dynamic data
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
  apps/web/src/features/promotion/model/useBrandPromotionListQuery.ts
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/shared/services/brandPromotion.ts
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(promotion): modularize BrandLookbook components and introduce SwitchCase
  apps/web/src/features/promotion/ui/BrandLookbook.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/index.tsx
  apps/web/src/shared/ui/switch-case.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): integrate dynamic data into promotion detail components
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/index.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/BrandLinksSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/NoticeSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
  apps/web/src/features/promotion/ui/MainBanner.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update api interface & set data on page
  apps/web/public/promotion/expired.png
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/BrandLinksSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/EventCard.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/shared/services/brandPromotion.ts
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: apply padding on google map
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): connect share modal to brand introduction component
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): add address copy functionality for offline popups
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): apply Swiper to BrandOfflinePopup image slider and extract component
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopupSlider.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): restructure BrandOfflinePopup
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupInfo.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupMap.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupSlider.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupTabs.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): update brand promotion section type to string constants
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/index.tsx
  apps/web/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): connect product detail and view all links in brand promotion
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): improve stability and readability in brand promotion feature
  apps/admin/docs/event-promotion-detail-prd.md
  apps/admin/docs/event-promotion-prd.md
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
  apps/web/src/features/promotion/ui/MainBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(admin): add background color to brand selection select
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): implement brand promotion management features
  apps/admin/package.json
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandPromotionPage/AddPage.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFilters.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionTable.tsx
  apps/admin/src/pages/BrandPromotionPage/components/FormShare.tsx
  apps/admin/src/pages/BrandPromotionPage/components/index.ts
  apps/admin/src/pages/BrandPromotionPage/components/sections/BannerSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/NoticeSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/PopupSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/SectionListSection.tsx
  apps/admin/src/pages/BrandPromotionPage/constants/form.ts
  apps/admin/src/pages/BrandPromotionPage/index.tsx
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
  apps/admin/src/shared/constants/route.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): create and split TanStack Query hooks for brand promotion
  apps/admin/src/pages/BrandPromotionPage/hooks/index.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionBannerDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionBannerListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventCouponDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventCouponListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionNoticsDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionNoticsListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionPopupDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionPopupListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionSectionDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionSectionListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionSectionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionSectionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useUpdateBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useUpdateBrandPromotionSectionMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add brand promotion form validation and error messaging
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/components/FormShare.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BannerSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/NoticeSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/PopupSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/SectionListSection.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/validation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): improve brand promotion coupon management UI with language tabs
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): extract brand promotion form logic into a custom hook
  apps/admin/src/pages/BrandPromotionPage/AddPage.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): register routes for brand promotion list and detail pages
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/index.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): implement form initialization for brand promotion edit page
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add brand promotion API service
  apps/admin/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update prd
  apps/admin/docs/event-promotion-detail-prd.md
  apps/admin/docs/event-promotion-prd.md
Due: none

refactor(admin): improve data normalization logic in brand promotion edit page
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: rename swagger.toml to swagger-gen.toml
  .gemini/commands/swagger-gen.toml
Due: none

refactor(admin): update brand service interfaces and clean up legacy types
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
