Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

feat(web): add AI consult API service and query hooks
  apps/web/src/shared/services/aiConsult.ts
  apps/web/src/widgets/chatbot/api/useAskAiConsultMutation.ts
  apps/web/src/widgets/chatbot/api/useGetAiConsultSuggestionsQuery.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add chatbot widget with AI consult integration
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
  apps/web/src/widgets/chatbot/api/queryKey.ts
  apps/web/src/widgets/chatbot/api/useGetAiConsultSuggestionsQuery.ts
  apps/web/src/widgets/chatbot/index.tsx
  apps/web/src/widgets/chatbot/model/types.ts
  apps/web/src/widgets/chatbot/model/useChatbotConversation.ts
  apps/web/src/widgets/chatbot/model/useChatbotStore.ts
  apps/web/src/widgets/chatbot/model/useResetChatbotOnLanguageChange.ts
  apps/web/src/widgets/chatbot/ui/ChatComposer.tsx
  apps/web/src/widgets/chatbot/ui/ChatMessage.tsx
  apps/web/src/widgets/chatbot/ui/ChatMessageList.tsx
  apps/web/src/widgets/chatbot/ui/ChatSuggestions.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotLauncher.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.tsx
  apps/web/src/widgets/chatbot/ui/RateLimitBanner.tsx
  apps/web/src/widgets/chatbot/ui/scrollbar.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(web): add chatbot PRD with interactive prototype
  docs/prd/2026-08-01-web-chatbot-prd.html
  docs/prd/2026-08-01-web-chatbot-prd.md
Due: none

refactor(web): name chatbot useEffect callbacks
  apps/web/src/widgets/chatbot/model/useResetChatbotOnLanguageChange.ts
  apps/web/src/widgets/chatbot/ui/ChatMessageList.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.tsx
  apps/web/src/widgets/chatbot/ui/RateLimitBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract chatbot scroll-lock hook and intro suggestions
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useBodyScrollLock.ts
  apps/web/src/widgets/chatbot/ui/ChatIntroSuggestions.tsx
  apps/web/src/widgets/chatbot/ui/ChatMessageList.tsx
  apps/web/src/widgets/chatbot/ui/ChatSuggestions.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract chatbot OfflineBanner as self-contained component
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.tsx
  apps/web/src/widgets/chatbot/ui/OfflineBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): extend ai-consult ask response with brand/category data
  apps/web/src/shared/services/aiConsult.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): render brand and category lists in chatbot answers
  apps/web/src/widgets/chatbot/model/types.ts
  apps/web/src/widgets/chatbot/model/useChatbotConversation.ts
  apps/web/src/widgets/chatbot/ui/ChatEntityList.tsx
  apps/web/src/widgets/chatbot/ui/ChatMessage.tsx
  docs/prd/2026-08-01-web-chatbot-prd.html
  docs/prd/2026-08-01-web-chatbot-prd.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): expand chatbot lists in place instead of linking out
  apps/web/src/widgets/chatbot/model/types.ts
  apps/web/src/widgets/chatbot/ui/ChatEntityList.tsx
  docs/prd/2026-08-01-web-chatbot-prd.html
  docs/prd/2026-08-01-web-chatbot-prd.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): show thumbnails in chatbot brand and category rows
  apps/web/src/widgets/chatbot/ui/ChatEntityList.tsx
  docs/prd/2026-08-01-web-chatbot-prd.html
  docs/prd/2026-08-01-web-chatbot-prd.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): commit synced locale messages for chatbot list toggle
  apps/web/src/i18n/messages/en.json
  apps/web/src/i18n/messages/ko.json
  apps/web/src/i18n/messages/zh-TW.json
Due: none

docs(web): add chatbot conversation data collection notice to privacy policy
  apps/web/src/shared/ui/privacy-policy-content.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(chatbot): render PRODUCT_LIST tag with product list UI
  apps/web/src/shared/services/aiConsult.ts
  apps/web/src/widgets/chatbot/model/types.ts
  apps/web/src/widgets/chatbot/model/useChatbotConversation.ts
  apps/web/src/widgets/chatbot/ui/ChatMessage.tsx
  apps/web/src/widgets/chatbot/ui/ChatProductList.tsx
  docs/prd/2026-08-01-web-chatbot-prd.html
  docs/prd/2026-08-01-web-chatbot-prd.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(chatbot): close mobile panel on in-panel link navigation
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.test.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(chatbot): open in-panel links in a new tab on mobile
  apps/web/src/widgets/chatbot/ui/ChatEntityList.tsx
  apps/web/src/widgets/chatbot/ui/ChatMessage.test.tsx
  apps/web/src/widgets/chatbot/ui/ChatMessage.tsx
  apps/web/src/widgets/chatbot/ui/ChatProductList.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.test.tsx
  apps/web/src/widgets/chatbot/ui/ChatbotPanel.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): upgrade Next.js to 16.3.0
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore(vscode): rename tsdk setting to js/ts.tsdk.path
  .vscode/settings.json
Due: none

chore(eslint): upgrade eslint-config-next to 16.3.0
  apps/web/eslint.config.mjs
  apps/web/package.json
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

fix(deps): patch next-intl and postcss security advisories
  apps/web/package.json
  package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade TypeScript to 6.0.3 across all workspaces
  apps/admin/package.json
  apps/admin/tsconfig.app.json
  apps/web/package.json
  apps/web/src/shared/lib/types/swiper-css.d.ts
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(repo): add typecheck scripts for web and admin
  .claude/CLAUDE.md
  apps/admin/.claude/CLAUDE.md
  apps/admin/package.json
  apps/web/.claude/CLAUDE.md
  apps/web/package.json
  package.json
  turbo.json
Due: none

refactor(web): read locale via next/root-params
  apps/web/src/app/[locale]/(home)/page.tsx
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/news/page.tsx
  apps/web/src/app/[locale]/policy/page.tsx
  apps/web/src/app/[locale]/product/page.tsx
  apps/web/src/app/[locale]/terms/page.tsx
  apps/web/src/i18n/request.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

perf(web): prerender locale routes via generateStaticParams
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(deps): adopt TypeScript 7 alongside the TypeScript 6 API
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/admin/package.json
  apps/web/next.config.ts
  apps/web/package.json
  packages/ui/.claude/CLAUDE.md
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore(ci): upgrade GitHub Actions to Node 24 runtimes
  .github/workflows/ci.yml
  .github/workflows/code-review.yml
  .github/workflows/i18n.yml
Due: none

chore(web): keep console.error in production builds
  apps/web/next.config.ts
Due: none

feat(admin): make brand promotion popup list optional
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFormContent.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/PopupSection.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
  apps/admin/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(skills): add release-deployer skill
  .claude/skills/release-deployer/SKILL.md
Due: none

chore: bump root version to 1.0.0
  package.json
Due: none

refactor(web): use generated PageProps types for route params
  apps/web/.claude/CLAUDE.md
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/app/[locale]/product/page.tsx
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandPromotionId]/page.tsx
  apps/web/src/app/[locale]/promotion/[id]/page.tsx
  apps/web/src/i18n/routing.ts
  apps/web/src/types/index.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(release): web v1.0.0
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: none

chore(skills): label release PRs with the release label
  .claude/skills/github-pr-creator/SKILL.md
  .claude/skills/release-deployer/SKILL.md
Due: none

feat(web): wire up LINE login UI on top of the SNS auth flow
  .claude/references/sns-auth-flow.md
  apps/web/.claude/CLAUDE.md
  apps/web/docs/auth.md
  apps/web/package.json
  apps/web/src/features/login/lib/lineIdentity.ts
  apps/web/src/features/login/lib/snsAuthStorage.test.ts
  apps/web/src/features/login/lib/snsAuthStorage.ts
  apps/web/src/features/login/ui/SnsLinkConfirmDialog.tsx
  apps/web/src/features/login/ui/SocialLoginButtons.tsx
  apps/web/src/features/signup/ui/SnsSignupForm.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): label the nickname field on the SNS signup form
  apps/web/src/features/signup/ui/SnsSignupForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add LINE email-verification step API and hooks
  apps/web/src/features/login/api/useLineEmailCodeMutation.ts
  apps/web/src/features/login/api/useLineEmailVerifyMutation.ts
  apps/web/src/shared/services/auth.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add LINE SNS auth API and mutation hooks
  apps/web/src/features/login/api/useLineLinkMutation.ts
  apps/web/src/features/login/api/useLineLoginMutation.ts
  apps/web/src/features/login/api/useLineSignupMutation.ts
  apps/web/src/shared/services/auth.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): verify a LINE email inside the SNS signup form
  .claude/references/sns-auth-flow.md
  apps/web/.claude/CLAUDE.md
  apps/web/docs/auth.md
  apps/web/src/features/login/lib/snsAuthStorage.test.ts
  apps/web/src/features/login/lib/snsAuthStorage.ts
  apps/web/src/features/login/lib/snsToken.test.ts
  apps/web/src/features/login/lib/snsToken.ts
  apps/web/src/features/login/ui/SnsLinkConfirmDialog.tsx
  apps/web/src/features/login/ui/SocialLoginButtons.tsx
  apps/web/src/features/signup/model/snsEmailSchema.ts
  apps/web/src/features/signup/ui/SnsEmailVerification.tsx
  apps/web/src/features/signup/ui/SnsSignupForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): complete the LINE login handshake after the LIFF redirect
  .claude/references/sns-auth-flow.md
  apps/web/.claude/CLAUDE.md
  apps/web/docs/auth.md
  apps/web/src/features/login/lib/lineIdentity.ts
  apps/web/src/features/login/lib/snsAuthStorage.test.ts
  apps/web/src/features/login/lib/snsAuthStorage.ts
  apps/web/src/features/login/ui/SocialLoginButtons.test.tsx
  apps/web/src/features/login/ui/SocialLoginButtons.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): drop the One Tap prompt moments FedCM no longer reports
  apps/web/src/features/login/lib/googleIdentity.ts
  apps/web/src/shared/lib/types/google.d.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0
