Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

refactor(admin): migrate brand update to V2 API
  apps/admin/src/pages/BrandPage/hooks/useUpdateAdminBrandMutation.ts
  apps/admin/src/pages/BrandPage/utils/form.ts
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update code-review action
  .github/workflows/code-review.yml
Due: none

hore(ci): migrate ai code review to standalone script
  .github/workflows/code-review.yml
  scripts/ai-code-review.js
Due: none

fix(ci): replace octokit with native fetch in code review script
  .github/workflows/code-review.yml
  scripts/ai-code-review.js
Due: none

chore(ci): strengthen environment variable validation in code review script
  scripts/ai-code-review.js
Due: none

chore(ci): move ai code review script to .github/scripts
  .github/scripts/ai-code-review.js
  .github/workflows/code-review.yml
Due: none

docs(skill): add tailwind v4 coding pattern reference
  .gemini/skills/api-to-hook/references/mutation.md
  .gemini/skills/api-to-hook/references/query-key.md
  .gemini/skills/api-to-hook/references/query.md
  .gemini/skills/figma-to-code/references/tailwind-v4-pattern.md
Due: none

docs(skill): add guideline to minimize absolute/relative positioning
  .gemini/skills/figma-to-code/SKILL.md
  .gemini/skills/figma-to-code/references/tailwind-v4-pattern.md
Due: none

refactor(product): delegate data fetching and apply skeleton UI
  apps/web/src/features/product/ui/ProductList/Desktop/ProductCardList.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/ProductGridSection.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/index.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/index.tsx
  apps/web/src/widgets/product-category-filter/index.tsx
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilterSkeleton.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(product): unify product skeleton UI and improve accessibility
  apps/web/src/features/product/ui/ProductCardSkeleton.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/ProductCardList.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/ProductListSection.tsx
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilterSkeleton.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: error on ai-code-review.js
  .github/scripts/ai-code-review.js
Due: none

refactor: remove lint disable comment
  apps/web/src/features/product/ui/ProductList/Desktop/ProductCardList.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/ProductListSection.tsx
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilterSkeleton.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update ai-code-review
  .github/scripts/ai-code-review.js
Due: none

refactor(product): simplify flow by combining loading and empty checks in mobile
  apps/web/src/features/product/ui/ProductList/Mobile/ProductListSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(gemini): add commands and skill for code review and reflection
  .gemini/commands/apply-review.toml
  .gemini/commands/code-review.toml
  .gemini/skills/review-reflector/SKILL.md
Due: none

fix: error on apply-review.toml
  .gemini/commands/apply-review.toml
Due: none

feat(web): implement dynamic SEO metadata
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/contact/layout.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/app/[locale]/product/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: image update error on product subcategory
  apps/admin/src/pages/ProductSubCategoriesPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: update README.md
  README.md
  apps/admin/README.md
  apps/web/README.md
Due: none

refactor(web): wrap service functions with React cache
  .codex/skills/review-reflector/SKILL.md
  .codex/skills/swagger-to-code/SKILL.md
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): apply SEO and optimize data fetching for product detail page
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/shared/services/product.ts
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: update ai-code-review propmt
  .github/scripts/ai-code-review.js
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): enhance SEO and optimize performance for Article, News, and Brand detail pages
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/shared/services/news.ts
  apps/web/src/views/news/ui/NewsDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat:update opengraph title
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): synchronize ArticleDetailLoading skeleton UI with actual layout
  apps/web/src/views/article/ui/ArticleDetailLoading.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add ProductExternalGroup component and integrate into detail page
  apps/web/src/features/product/index.tsx
  apps/web/src/features/product/ui/ProductExternalGroup.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): rename article recommendation data property
  apps/web/src/shared/services/article.ts
  apps/web/src/views/article/ui/ArticleDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): validate external URL to prevent XSS vulnerability
  apps/web/src/features/product/ui/ProductExternalGroup.tsx
  apps/web/src/shared/lib/utils.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: ga4 tag setup
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: create & define static routes on sitemap
  apps/web/src/app/sitemap.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): implement dynamic sitemap generation logic
  .gemini/skills/commit-helper/SKILL.md
  apps/web/src/app/sitemap.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: build error on sitemap
  apps/web/src/app/sitemap.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add JSON-LD structured data to news and article detail pages
  .gemini/commands/commit.toml
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): refactor structured data logic and extract utilities
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/shared/constants/env.ts
  apps/web/src/shared/lib/utils.ts
  apps/web/src/shared/ui/structured-data-script.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add mobile-specific external link group to product detail page
  .gemini/agents/admin-specialist.md
  .gemini/agents/senior-architect.md
  .gemini/settings.json
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): improve external link group rendering on product detail page
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add empty state UI to BrandProductList
  apps/web/src/features/product/ui/BrandProductList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web/header): add full modal for mobile brand menu and implement animation control
  apps/web/src/shared/ui/sheet.tsx
  apps/web/src/widgets/header/ui/BrandMenuModal.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  packages/tailwind-config/shared-styles.css
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(header): unify header link prefetch behavior
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useDataLayerPush.ts
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(ui): add Spinner component and Drawer component
  packages/ui/package.json
  packages/ui/src/components/ui/drawer.tsx
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/spinner.tsx
  pnpm-lock.yaml
Due: none
