Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

feat: update opencode-review
  .gemini/skills/test-helper/SKILL.md
  .gemini/skills/test-helper/examples/component-test.md
  .gemini/skills/test-helper/examples/hook-test.md
  .gemini/skills/test-helper/examples/util-test.md
  .github/workflows/opencode-review.yml
Due: none

chore: add issue_comment trigger to opencode-review workflow
  .github/workflows/opencode-review.yml
Due: none

feat: update if rule
  .github/workflows/opencode-review.yml
Due: none

feat(admin): add admin product master api services and hooks
  .gemini/skills/api-to-hook/SKILL.md
  apps/admin/src/pages/ProductMasterPage/hooks/index.ts
  apps/admin/src/pages/ProductMasterPage/hooks/queryKeys.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useAdminProductDetailQuery.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useAdminProductListQuery.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useCreateAdminProductMutation.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useDeleteAdminProductMutation.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useUpdateAdminProductMutation.ts
  apps/admin/src/pages/ProductPage/hooks/index.ts
  apps/admin/src/shared/services/adminProduct.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(skill): add examples and update api-to-hook
  .gemini/skills/api-to-hook/SKILL.md
  .gemini/skills/api-to-hook/examples/mutation.md
  .gemini/skills/api-to-hook/examples/query-key.md
  .gemini/skills/api-to-hook/examples/query.md
Due: none

feat(skill): update test-helper documentation
  .gemini/skills/test-helper/SKILL.md
Due: none

feat: add product/master to route
  apps/admin/src/Router.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update list page & apply query hook to fetch data
  apps/admin/src/pages/ProductMasterPage/ListPage.tsx
  apps/admin/src/pages/ProductMasterPage/components/ProductMasterFilters.tsx
  apps/admin/src/pages/ProductMasterPage/components/ProductMasterForm.tsx
  apps/admin/src/pages/ProductMasterPage/components/ProductMasterTable.tsx
  apps/admin/src/pages/ProductMasterPage/components/index.ts
  apps/admin/src/pages/ProductMasterPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: Add Add/Edit page
  apps/admin/src/pages/ProductMasterPage/AddPage.tsx
  apps/admin/src/pages/ProductMasterPage/EditPage.tsx
  apps/admin/src/pages/ProductMasterPage/hooks/useBrandListQuery.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useCategoryListQuery.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useProductCategoryListQuery.ts
  apps/admin/src/shared/services/adminProduct.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): decompose ProductMasterForm into modular subcomponents
  apps/admin/src/pages/ProductMasterPage/components/ProductMasterForm.tsx
  apps/admin/src/pages/ProductMasterPage/components/form/BrandSelector.tsx
  apps/admin/src/pages/ProductMasterPage/components/form/CategorySelector.tsx
  apps/admin/src/pages/ProductMasterPage/components/form/DetailImageUploader.tsx
  apps/admin/src/pages/ProductMasterPage/components/form/MultiLanguageInputs.tsx
  apps/admin/src/pages/ProductMasterPage/components/form/ProductCategorySelector.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove index.tsx on entities/megazine
  apps/web/src/entities/megazine/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust width on MegazineCard
  apps/web/src/entities/megazine/ui/MegazineCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: fix Sheet focus style
  apps/web/src/shared/ui/sheet.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: add commit-helper command
  .gemini/commands/commit.toml
Due: none

chore(cli): add pr-helper command configuration
  .gemini/commands/pr.toml
Due: none

chore(cli): add swagger command and refine swagger-to-code skill
  .gemini/commands/swagger.toml
  .gemini/skills/swagger-to-code/SKILL.md
Due: none

docs(test-helper): rename examples directory to references
  .gemini/skills/test-helper/SKILL.md
  .gemini/skills/test-helper/references/component-test.md
  .gemini/skills/test-helper/references/hook-test.md
  .gemini/skills/test-helper/references/util-test.md
Due: none

feat(commands): add test-helper command configuration
  .gemini/commands/test.toml
Due: none

docs(commands): add usage examples and documentation header to swagger command
  .gemini/commands/swagger.toml
Due: none

refactor: remove BrandPagination component
  apps/admin/src/pages/BrandPage/ListPage/components/BrandPagination.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: updated `BrandFilters`
  apps/admin/src/pages/BrandPage/ListPage/components/BrandFilters.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: replace BrandPagination with shared/components/pagination
  apps/admin/src/pages/BrandPage/ListPage/index.tsx
  apps/admin/src/pages/ProductPage/components/ProductBasicInfoSection.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: update pr.toml
  .gemini/commands/pr.toml
Due: none

refactor: improve brand list search filter functionality
  apps/admin/src/pages/BrandPage/ListPage/components/BrandFilters.tsx
  apps/admin/src/pages/BrandPage/ListPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(home): add empty state UI for news and article sections
  .gemini/.settings.json
  apps/web/src/features/home/ui/Article/Article.client.tsx
  apps/web/src/features/home/ui/News/News.client.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): setup Vitest environment and add dependencies
  apps/web/package.json
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  pnpm-lock.yaml
Due: none

refactor(home): improve testability for News and Article components
  apps/web/src/features/home/ui/Article/Article.client.tsx
  apps/web/src/features/home/ui/News/News.client.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

test(home): add unit tests for News and Article components
  apps/web/src/features/home/ui/Article/Article.client.test.tsx
  apps/web/src/features/home/ui/Article/Article.client.tsx
  apps/web/src/features/home/ui/News/News.client.test.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): downgrade jsdom to v26.0.0 to fix ESM require error
  apps/web/package.json
  apps/web/vitest.config.mts
  pnpm-lock.yaml
Due: none

test(web): add empty state tests for Article and News components
  apps/web/src/features/home/ui/Article/Article.client.test.tsx
  apps/web/src/features/home/ui/News/News.client.test.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update opencode-review action
  .github/workflows/opencode-review.yml
Due: none

chore: update opencode-review
  .github/workflows/opencode-review.yml
Due: none

chore: set GITHUB_TOKEN on env
  .github/workflows/opencode-review.yml
Due: none

fix(ci): broaden opencode review comment cleanup filter
  .github/workflows/opencode-review.yml
Due: none

fix: text on format
  .github/workflows/opencode-review.yml
Due: none

fix(product): hide empty brand categories in product filters
  apps/web/src/features/product/ui/ProductFilterSheet/BrandFilter.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/BrandFilterSidebar.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(home): apply i18n to empty states in Article and News lists
  apps/web/src/features/home/ui/Article/Article.client.tsx
  apps/web/src/features/home/ui/News/News.client.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add figma-to-code skill and command
  .gemini/commands/figma-to-code.toml
  .gemini/skills/figma-to-code/SKILL.md
Due: none

refactor(product): optimize brand filter rendering
  apps/web/src/features/product/ui/ProductFilterSheet/BrandFilter.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/BrandFilterSidebar.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(product): centralized brand filtering logic in useBrandFilter
  apps/web/src/features/product/model/useBrandFilter.ts
  apps/web/src/features/product/ui/ProductFilterSheet/BrandFilter.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/BrandFilterSidebar.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0
