Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

feat(admin): update brand form utility with color code logic
  apps/admin/src/pages/BrandPage/utils/form.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): implement brand color picker UI and update form initial values
  apps/admin/src/pages/BrandPage/AddPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(admin): improve brand color input UI and apply Flex component
  apps/admin/src/pages/BrandPage/components/BasicInfo/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: rename noticsList to noticeList
  apps/web/src/shared/services/brandPromotion.ts
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): implement image optimization and 'load more' for special events
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
  apps/web/src/features/product/model/useProductListLogic.ts
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupSlider.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/BrandLinksSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/EventCard.tsx
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(docs): optimize AI guide hierarchy and swagger extraction script
  .gemini/GEMINI.md
  .gemini/docs/monorepo.md
  .gemini/skills/swagger-to-code/SKILL.md
  .gemini/skills/swagger-to-code/scripts/extract-swagger.js
  apps/admin/.gemini/GEMINI.md
  apps/admin/.gemini/docs/admin.md
  apps/web/.gemini/GEMINI.md
  apps/web/.gemini/docs/web.md
Due: none

feat(admin): add admin-ui-designer agent and introduce UI references
  .gemini/agents/admin-ui-designer.md
  .gemini/docs/admin-ui-workflow.md
  apps/admin/docs/references/ui/article-add.png
  apps/admin/docs/references/ui/article-list.png
  apps/admin/docs/references/ui/brand-promotion-banner.png
  apps/admin/docs/references/ui/brand-promotion-event-coupon.png
  apps/admin/docs/references/ui/brand-promotion-notices.png
  apps/admin/docs/references/ui/news-add.png
  apps/admin/docs/references/ui/news-list.png
  apps/admin/docs/references/ui/product-add.png
  apps/admin/docs/references/ui/product-banner-1.png
  apps/admin/docs/references/ui/product-banner-2.png
  apps/admin/docs/references/ui/product-category-list.png
Due: none

style(admin): add background color to brand selection select
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): create and split TanStack Query hooks for brand promotion
  apps/admin/src/pages/BrandPromotionPage/hooks/index.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionBannerDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionBannerListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventCouponDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventCouponListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionNoticsDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionNoticsListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionPopupDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionPopupListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionSectionDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionSectionListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionSectionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionSectionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useUpdateBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useUpdateBrandPromotionSectionMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add brand promotion API service
  apps/admin/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): register routes for brand promotion list and detail pages
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/index.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): implement brand promotion management features
  apps/admin/package.json
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandPromotionPage/AddPage.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFilters.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionTable.tsx
  apps/admin/src/pages/BrandPromotionPage/components/FormShare.tsx
  apps/admin/src/pages/BrandPromotionPage/components/index.ts
  apps/admin/src/pages/BrandPromotionPage/components/sections/BannerSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/NoticeSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/PopupSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/SectionListSection.tsx
  apps/admin/src/pages/BrandPromotionPage/constants/form.ts
  apps/admin/src/pages/BrandPromotionPage/index.tsx
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
  apps/admin/src/shared/constants/route.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update prd
  apps/admin/docs/event-promotion-detail-prd.md
  apps/admin/docs/event-promotion-prd.md
Due: none

refactor: remove console.log
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): improve brand promotion coupon management UI with language tabs
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): extract tab content logic from BrandPromotionForm
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFormContent.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): implement form initialization for brand promotion edit page
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): integrate notice list in brand promotion edit page and improve code style
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
  apps/admin/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): improve data normalization logic in brand promotion edit page
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): extract brand promotion form logic into a custom hook
  apps/admin/src/pages/BrandPromotionPage/AddPage.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add brand promotion form validation and error messaging
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/components/FormShare.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BannerSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/NoticeSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/PopupSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/SectionListSection.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/validation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add admin promotion management API service
  apps/admin/src/shared/services/promotion.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: import path
  apps/admin/src/pages/BrandPromotionPage/AddPage.tsx
  apps/admin/src/pages/BrandPromotionPage/EditPage.tsx
  apps/admin/src/pages/BrandPromotionPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): refactor BrandPromotionTable and extract date utility
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionTable.tsx
  apps/admin/src/pages/BrandPromotionPage/utils/date.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): refactor BrandPromotionTable and cleanup unused hooks/queryKeys
  apps/admin/src/pages/BrandPromotionPage/hooks/index.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/queryKeys.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): refactor BrandPromotionTable and remove unused hooks
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionBannerDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionBannerListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventCouponDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventCouponListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionEventListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionNoticsDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionNoticsListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionPopupDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionPopupListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionSectionDetailQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionSectionListQuery.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionSectionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useDeleteBrandPromotionSectionMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionBannerMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionEventCouponMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionEventMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/usePatchBrandPromotionPopupMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useUpdateBrandPromotionNoticsMutation.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useUpdateBrandPromotionSectionMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add promotion management feature
  apps/admin/src/Router.tsx
  apps/admin/src/pages/PromotionPage/AddPage.tsx
  apps/admin/src/pages/PromotionPage/EditPage.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionFilters.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionTable.tsx
  apps/admin/src/pages/PromotionPage/components/index.ts
  apps/admin/src/pages/PromotionPage/hooks/index.ts
  apps/admin/src/pages/PromotionPage/index.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: remove event-promotion-prd.md
  apps/admin/docs/event-promotion-detail-prd.md
  apps/admin/docs/event-promotion-prd.md
Due: none

feat(ui): add Switch component and install Radix UI dependency
  packages/ui/package.json
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/switch.tsx
  pnpm-lock.yaml
Due: none

docs: update admin-ui-designer
  .gemini/agents/admin-ui-designer.md
  packages/ui/vite.config.ts
Due: none

chore(package): add sonner on admin
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

feat(home): implement PromotionList UI and integrate data in PrimeSection
  apps/web/src/features/home/ui/PrimeSection/PromotionList.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/features/home/ui/PrimeSection/index.tsx
  apps/web/src/shared/services/home.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(home): enhance error handling and type safety in PrimeSection
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/features/home/ui/PrimeSection/PromotionList.tsx
  apps/web/src/features/home/ui/PrimeSection/index.tsx
  apps/web/src/shared/services/home.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(home): fix PromotionList rendering condition
  apps/web/src/features/home/ui/PrimeSection/PromotionList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): enhance brand promotion linking and fix typos
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFormContent.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionTable.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
  apps/admin/src/pages/BrandPromotionPage/constants/form.ts
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/pages/BrandPromotionPage/types.ts
  apps/admin/src/pages/BrandPromotionPage/utils/form.ts
  apps/admin/src/pages/BrandPromotionPage/utils/validation.ts
  apps/admin/src/pages/PromotionPage/AddPage.tsx
  apps/admin/src/pages/PromotionPage/EditPage.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm.tsx
  apps/admin/src/shared/services/brandPromotion.ts
  apps/web/src/features/promotion/ui/BrandOnlineEvent/NoticeSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(promotion): restructure promotion brand routing
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
  apps/web/src/app/[locale]/promotion/[id]/page.tsx
  apps/web/src/features/home/ui/PrimeSection/PromotionList.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): improve promotion brand detail routing and data flow
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(promotion): apply id parameter to brand promotion list API
  apps/web/src/app/[locale]/promotion/[id]/page.tsx
  apps/web/src/features/promotion/model/useBrandPromotionListQuery.ts
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): apply i18n translations to promotion components
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupInfo.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/index.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/BrandLinksSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/NoticeSection.tsx
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0
