Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): import order
  apps/web/src/entities/brand/ui/BrandProductCard.tsx
  apps/web/src/entities/product/ui/ProductCard.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
  apps/web/src/features/search/ui/SearchHeader.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/language-support/ui/LanguageSupport.tsx
  apps/web/src/widgets/share-modal/ui/ShareModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): set Signup page layout
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/pages/SignUpPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add shared axios client and fetcher helpers
  apps/admin/package.json
  apps/admin/src/shared/api.ts
  apps/admin/src/shared/services/index.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): refactor sidebar to accordion and add mobile toggle support
  apps/admin/src/shared/components/header.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust brand detail banner layout and image sizing for responsiveness
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): preserve product list layout when empty
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): add shared HtmlContent and ResponsiveBanner components
  apps/web/src/shared/ui/html-content.tsx
  apps/web/src/shared/ui/responsive-banner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): clean up brand detail page layout handling
  apps/web/src/shared/services/brand.ts
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): reuse HtmlContent in DetailContent widget
  apps/web/src/widgets/detail/ui/DetailContent.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): update favicon asset
  apps/web/src/app/favicon.ico
Due: none

feat(ui): add select component
  packages/ui/package.json
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/select.tsx
  packages/ui/vite.config.ts
Due: none

feat(admin): add React Query provider
  apps/admin/package.json
  apps/admin/src/App.tsx
  apps/admin/src/shared/components/providers.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add product categories management page and routes
  apps/admin/src/Router.tsx
  apps/admin/src/pages/ProductCategoriesPage/index.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add category service and type-safe fetcher helpers
  apps/admin/src/shared/services/category.ts
  apps/admin/src/shared/services/index.ts
  apps/admin/src/types/index.d.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add category hooks/components and wire ProductCategoriesPage
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryCreateModal.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryFilters.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryHeader.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryPagination.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryTable.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/index.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/index.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/queryKeys.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useAdminCategoryListQuery.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useAdminCategoryQuery.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useCreateAdminCategoryMutation.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useDeleteAdminCategoryMutation.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useUpdateAdminCategoryMutation.ts
  apps/admin/src/pages/ProductCategoriesPage/index.tsx
  apps/admin/src/shared/services/category.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add category edit UI and correct category API payload
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryEditModal.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryTable.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/index.ts
  apps/admin/src/pages/ProductCategoriesPage/index.tsx
  apps/admin/src/shared/services/category.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): centralize category name utils and guard empty submissions
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryCreateModal.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryEditModal.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryPagination.tsx
  apps/admin/src/pages/ProductCategoriesPage/index.tsx
  apps/admin/src/pages/ProductCategoriesPage/utils/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(admin): correct category service typings
  apps/admin/src/shared/services/category.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: wire admin auth pages to API with token refresh handling
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/pages/SignUpPage/index.tsx
  apps/admin/src/shared/services/auth.ts
  apps/admin/src/shared/services/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: updated link to reuse the shared route constant, keeping navigation paths centralized
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/pages/SignUpPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add image uploadg service API function
  apps/admin/src/shared/services/upload.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add admin home banner service API helpers
  apps/admin/src/shared/services/banner.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add home banner react-query hooks for list/create/update/delete and query keys
  apps/admin/src/pages/HomeBannerPage/hooks/index.ts
  apps/admin/src/pages/HomeBannerPage/hooks/queryKeys.ts
  apps/admin/src/pages/HomeBannerPage/hooks/useCreateHomeBannerMutation.ts
  apps/admin/src/pages/HomeBannerPage/hooks/useDeleteHomeBannerMutation.ts
  apps/admin/src/pages/HomeBannerPage/hooks/useHomeBannerListQuery.ts
  apps/admin/src/pages/HomeBannerPage/hooks/useUpdateHomeBannerMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add HomeBanner page
  apps/admin/src/Router.tsx
  apps/admin/src/pages/HomeBannerPage/index.tsx
  apps/admin/src/shared/components/header.tsx
  apps/admin/src/shared/components/image-with-fallback.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/providers.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: extract home banner modal/preview components and shared image utils
  apps/admin/src/pages/HomeBannerPage/components/BannerModal.tsx
  apps/admin/src/pages/HomeBannerPage/components/BannerPreview.tsx
  apps/admin/src/pages/HomeBannerPage/index.tsx
  apps/admin/src/shared/utils/image.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: make banner previews responsive and add fallback image sizing
  apps/admin/src/pages/HomeBannerPage/components/BannerPreview.tsx
  apps/admin/src/shared/components/image-with-fallback.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update isSaveDisabled value
  apps/admin/src/pages/HomeBannerPage/components/BannerModal.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add admin brand service API helpers
  apps/admin/src/shared/api.ts
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update AGENTS.md
  apps/admin/.codex/AGENTS.md
Due: none

feat(ui): add badge component
  packages/ui/src/components/ui/badge.tsx
  packages/ui/src/components/ui/index.ts
Due: none

feat: add brand list page
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandPage/index.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add brand react-query hooks for list/create/update/delete and query keys
  apps/admin/src/pages/BrandPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPage/hooks/useAdminBrandListQuery.ts
  apps/admin/src/pages/BrandPage/hooks/useAdminBrandQuery.ts
  apps/admin/src/pages/BrandPage/hooks/useCreateAdminBrandMutation.ts
  apps/admin/src/pages/BrandPage/hooks/useUpdateAdminBrandMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply useAdminBrandListQuery hook on BrandPage
  apps/admin/src/pages/BrandPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add useDebounceValue hook
  apps/admin/src/shared/hooks/useDebounceValue.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(admin): add es-toolkit
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

refactor(admin): split brand page into reusable list components
  apps/admin/src/pages/BrandPage/components/BrandFilters.tsx
  apps/admin/src/pages/BrandPage/components/BrandPagination.tsx
  apps/admin/src/pages/BrandPage/components/BrandTable.tsx
  apps/admin/src/pages/BrandPage/components/index.ts
  apps/admin/src/pages/BrandPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply global error boundary
  apps/admin/package.json
  apps/admin/src/Router.tsx
  apps/admin/src/shared/components/global-errorboundary.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: error on Home MainBanner
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update sort filter on click option
  apps/web/src/features/product/model/useProductFilter.ts
  apps/web/src/features/product/model/useProductSortFilter.ts
  apps/web/src/features/product/ui/FilterBar/SortFilter.tsx
  apps/web/src/features/product/ui/FilterBar/index.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add error-boundary for product page
  apps/web/package.json
  apps/web/src/app/[locale]/product/error.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
