Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): migrate news create/edit forms to V1 API
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/components/NewsMetaFields.tsx
  apps/admin/src/pages/NewsPage/types.ts
  apps/admin/src/pages/NewsPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): remove legacy news API functions and hooks
  apps/admin/src/pages/NewsPage/hooks/index.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useCreateAdminNewsMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsV2Mutation.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add SEO metadata to news page
  apps/web/src/app/[locale]/news/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(admin): remove hover effect on active sidebar tabs
  apps/admin/src/shared/components/sidebar.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add News menu to header navigation
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): correct mobile News link href to /news
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add news category creation
  apps/admin/src/pages/NewsPage/CategoryPage/components/NewsCategoryFormModal.tsx
  apps/admin/src/pages/NewsPage/CategoryPage/components/index.ts
  apps/admin/src/pages/NewsPage/CategoryPage/index.tsx
  apps/admin/src/pages/NewsPage/hooks/index.ts
  apps/admin/src/pages/NewsPage/hooks/useCreateAdminNewsCategoryMutation.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust hot keyword title size on news page
  apps/web/src/views/news/ui/NewsPageContent.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add buttonClassName prop to hide slider buttons
  apps/web/src/shared/ui/card-slider.tsx
  apps/web/src/shared/ui/slide-button.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/hot-list/ui/HotKeywordList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): prevent scroll chaining in news update list
  apps/web/src/widgets/news-update/ui/NewsUpdate.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): prevent product detail page going blank on refresh
  apps/web/src/shared/lib/components/GlobalQueryHandler.tsx
  apps/web/src/shared/lib/hooks/useClearAllQueries.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(web): add DESIGN.md and web-page-builder skill
  .claude/skills/web-page-builder/SKILL.md
  apps/web/DESIGN.md
Due: none

chore(web): upgrade to Next.js 16
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/proxy.ts
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: reflect Next.js 16 upgrade in CLAUDE.md
  .claude/CLAUDE.md
  apps/web/.claude/CLAUDE.md
Due: none

fix(news): preserve aspect ratio of featured main news card image
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(article): reserve category label space in style card
  apps/web/src/entities/article/ui/StyleCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(article): use min-h-5 token instead of arbitrary min-h-[1lh]
  apps/web/src/entities/article/ui/StyleCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(seo): resolve AdSense review crawlability and policy issues
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/shared/ui/privacy-policy-content.tsx
  apps/web/src/widgets/footer/ui/Footer.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(seo): add self-referencing canonical and hreflang to detail pages
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/i18n/metadata.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(product): prevent stray "0" on detail page when values are 0
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(product): prevent stray "0" on detail page when values are 0 (#222)
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): SEO/a11y and bug/consistency improvements (#224)
  apps/web/src/app/[locale]/(home)/page.tsx
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/brand/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/app/[locale]/news/page.tsx
  apps/web/src/app/[locale]/policy/page.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/app/[locale]/product/page.tsx
  apps/web/src/app/[locale]/terms/page.tsx
  apps/web/src/entities/product/model/hooks/useProductLikeToggle.ts
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
  apps/web/src/features/mypage/lib/formatLikeCount.ts
  apps/web/src/features/mypage/ui/InterestBrandCard.tsx
  apps/web/src/features/mypage/ui/SummaryStats.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/index.tsx
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/detail/ui/DetailMain.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract ETC_SUBJECT constant in inquiry form
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): SEO/a11y and bug/consistency improvements (#224) (#226)
  apps/web/src/app/[locale]/(home)/page.tsx
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/brand/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/news/[id]/page.tsx
  apps/web/src/app/[locale]/news/page.tsx
  apps/web/src/app/[locale]/policy/page.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/app/[locale]/product/page.tsx
  apps/web/src/app/[locale]/terms/page.tsx
  apps/web/src/entities/product/model/hooks/useProductLikeToggle.ts
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
  apps/web/src/features/mypage/lib/formatLikeCount.ts
  apps/web/src/features/mypage/ui/InterestBrandCard.tsx
  apps/web/src/features/mypage/ui/SummaryStats.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/index.tsx
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/detail/ui/DetailMain.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): add per-request/singleton QueryClient factory and hydration helpers
  apps/web/src/shared/lib/providers.tsx
  apps/web/src/shared/lib/query/HydrateClient.tsx
  apps/web/src/shared/lib/query/index.ts
  apps/web/src/shared/lib/query/queryClient.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

perf(web): server-prefetch product detail with hydration and skeleton
  apps/web/src/app/[locale]/product/[id]/loading.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/shared/lib/query/queryClient.ts
  apps/web/src/views/product/index.tsx
  apps/web/src/views/product/ui/ProductDetailLoading.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

perf(web): add promotion detail loading skeleton for instant navigation feedback
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandPromotionId]/loading.tsx
  apps/web/src/app/[locale]/promotion/[id]/loading.tsx
  apps/web/src/views/promotion/index.tsx
  apps/web/src/views/promotion/ui/PromotionDetailLoading.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

perf(web): server-prefetch product list above-the-fold with hydration and skeleton
  apps/web/src/app/[locale]/product/loading.tsx
  apps/web/src/app/[locale]/product/page.tsx
  apps/web/src/views/product/index.tsx
  apps/web/src/views/product/ui/ProductListLoading.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): suppress body hydration warning from browser-extension attributes
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): switch product detail to initialData over HydrationBoundary
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(web): add route-navigation optimization summary (#223)
  docs/perf/2026-07-14-web-route-navigation-optimization.md
Due: none

style(web): use canonical spacing classes on product detail page
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

perf(web): route navigation optimization — server data delivery + loading.tsx (#223) (#227)
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/product/[id]/loading.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
  apps/web/src/app/[locale]/product/loading.tsx
  apps/web/src/app/[locale]/product/page.tsx
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandPromotionId]/loading.tsx
  apps/web/src/app/[locale]/promotion/[id]/loading.tsx
  apps/web/src/shared/lib/providers.tsx
  apps/web/src/shared/lib/query/HydrateClient.tsx
  apps/web/src/shared/lib/query/index.ts
  apps/web/src/shared/lib/query/queryClient.ts
  apps/web/src/views/product/index.tsx
  apps/web/src/views/product/ui/ProductDetailLoading.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/views/product/ui/ProductListLoading.tsx
  apps/web/src/views/promotion/index.tsx
  apps/web/src/views/promotion/ui/PromotionDetailLoading.tsx
  docs/perf/2026-07-14-web-route-navigation-optimization.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs: add product image zoom modal design spec
  docs/superpowers/specs/2026-07-15-product-image-zoom-modal-design.md
Due: none

docs: add product image zoom modal implementation plan
  docs/superpowers/plans/2026-07-15-product-image-zoom-modal.md
Due: none

feat(web): add product image zoom modal (responsive dialog/drawer)
  apps/web/src/widgets/product-gallery/ui/ProductImageZoomModal.test.tsx
  apps/web/src/widgets/product-gallery/ui/ProductImageZoomModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): use i18n close label for zoom modal desktop dialog
  apps/web/src/widgets/product-gallery/ui/ProductImageZoomModal.test.tsx
  apps/web/src/widgets/product-gallery/ui/ProductImageZoomModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): open zoom modal on product main image click
  apps/web/src/widgets/product-gallery/ui/ProductGallery.test.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): keyboard-accessible zoom trigger and harden gallery tests
  apps/web/src/widgets/product-gallery/ui/ProductGallery.test.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
  apps/web/src/widgets/product-gallery/ui/ProductImageZoomModal.test.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): render zoom modal desktop dialog at 900px width
  apps/web/src/widgets/product-gallery/ui/ProductImageZoomModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
