Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

refactor: remove console.log
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add isHexCode util function to validate colorCode
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueAddModal.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueEditModal.tsx
  apps/admin/src/pages/ProductOptionsPage/utils/color.ts
  apps/admin/src/pages/ProductOptionsPage/utils/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: change ProductOptionType to string
  apps/admin/src/shared/services/productOption.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: change selector to input
  apps/admin/src/pages/ProductOptionsPage/AddPage/index.tsx
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionTypeInput.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionTypeSelector.tsx
  apps/admin/src/pages/ProductOptionsPage/components/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update condition of disable button
  apps/admin/src/pages/ProductOptionsPage/AddPage/index.tsx
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: change type default value to empty string
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update input validate logic on add/edit modal
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueAddModal.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueEditModal.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add news update api v2 function & hook
  apps/admin/src/pages/NewsPage/hooks/index.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsV2Mutation.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update UpdateAdminNewsRequestV2 type & replace V1 -> V2
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsV2Mutation.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set subTitle on section payload
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add OptionTypeSelector to check registered info
  apps/admin/src/pages/ProductOptionsPage/components/OptionTypeInput.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionTypeSelector.tsx
  apps/admin/src/pages/ProductOptionsPage/components/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: remove image length check on validateArticleForm
  apps/admin/src/pages/ArticlePage/AddPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add update artile api v2 function & hook
  apps/admin/src/pages/ArticlePage/hooks/index.ts
  apps/admin/src/pages/ArticlePage/hooks/useUpdateAdminArticleV2Mutation.ts
  apps/admin/src/shared/services/article.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: replace update article mutation hook to v2
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove deprecated update article api function & hook
  apps/admin/src/pages/ArticlePage/hooks/index.ts
  apps/admin/src/pages/ArticlePage/hooks/useUpdateAdminArticleMutation.ts
  apps/admin/src/shared/services/article.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply locales
  apps/web/src/app/[locale]/contact/layout.tsx
  apps/web/src/features/about/ui/Company.tsx
  apps/web/src/features/about/ui/Mission.tsx
  apps/web/src/features/about/ui/Partners.tsx
  apps/web/src/features/about/ui/Vision.tsx
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
  apps/web/src/features/product/ui/BrandProductList.tsx
  apps/web/src/features/product/ui/FilterBar/OptionFilter.tsx
  apps/web/src/features/product/ui/FilterBar/RefreshFilter.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductFilterSheet/BrandFilter.tsx
  apps/web/src/features/product/ui/ProductFilterSheet/CategoryFilter.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/BrandFilterSidebar.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/ProductGridSection.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/ProductListSection.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/index.tsx
  apps/web/src/i18n/messages/en.json
  apps/web/src/i18n/messages/ko.json
  apps/web/src/i18n/messages/zh-TW.json
  apps/web/src/views/contact/ui/InquiryPage.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/detail/ui/RelatedList.tsx
  apps/web/src/widgets/filter-sheet/ui/FilterSheet.tsx
  apps/web/src/widgets/footer/ui/Footer.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/language-support/ui/LanguageSupport.tsx
  apps/web/src/widgets/share-modal/ui/ShareModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update description to content on payload
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: move types, utills into parent directory
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/components/NewsInfoCard.tsx
  apps/admin/src/pages/NewsPage/types.ts
  apps/admin/src/pages/NewsPage/utils.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(codex): add code-review, commit-helper skills and design-system-foundation
  .codex/skills/code-review/SKILL.md
  .codex/skills/commit-helper/SKILL.md
  .codex/skills/design-system-foundation/SKILL.md
Due: none

refactor(styles): align hardcoded colors to design tokens
  apps/web/src/app/globals.css
  apps/web/src/features/product/ui/Banner/product-banner.css
  apps/web/src/views/article/ui/ArticleDetailLoading.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/detail/ui/DetailMain.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
  packages/tailwind-config/shared-styles.css
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(code-review): expand review skill guidance
  .codex/skills/code-review/SKILL.md
Due: none

chore(ci): add opencode review workflow
  .github/workflows/opencode.yml
Due: none

chore(codex): add pr-message-helper skill
  .codex/skills/pr-helper/SKILL.md
Due: none

chore(ci): update opencode model
  .github/workflows/opencode.yml
Due: none

docs(codex): clarify base-branch selection in pr-helper
  .codex/skills/pr-helper/SKILL.md
Due: none

docs(codex): translate pr-helper skill to English
  .codex/skills/pr-helper/SKILL.md
Due: none

chore(ci): add i18n sync workflow
  .github/workflows/i18n.yml
  .github/workflows/opencode.yml
  apps/web/package.json
  apps/web/scripts/syncLocaleFromSheet.js
  pnpm-lock.yaml
Due: none

chore: update i18n.yml
  .github/workflows/i18n.yml
Due: none

feat(admin): add user management page in admin
  apps/admin/src/Router.tsx
  apps/admin/src/pages/UserPage/index.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update config.toml & settings.json
  .codex/config.toml
  .gemini/settings.json
Due: none

feat(home): use homeImage for home cards
  apps/web/src/features/home/ui/News/News.client.tsx
  apps/web/src/shared/services/article.ts
  apps/web/src/shared/services/news.ts
  apps/web/src/widgets/article-list/ui/ArticleList.tsx
  apps/web/src/widgets/article-slide/ui/ArticleSlide.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/web/src/features/home/ui/News/News.client.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(admin): guard meta field updates during loading
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/components/NewsMetaFields.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: news/article edit form initialize logic
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/components/NewsMetaFields.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add productMobileBannerImageUrl to CreateAdminBrandRequest
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add updateAdminBrandV2 api function & hook
  apps/admin/src/pages/BrandPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/hooks/useUpdateAdminBrandV2Mutation.ts
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BannerMobileImageUploader on BrandForm
  apps/admin/src/pages/BrandPage/AddPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/ImageUploaders.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/index.tsx
  apps/admin/src/pages/BrandPage/utils/form.ts
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply useUpdateAdminBrandV2Mutation on edit BrandForm
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set sonner on admin
  apps/admin/package.json
  apps/admin/src/pages/BrandPage/AddPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
  apps/admin/src/shared/components/layout.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: remove stripImageDomain on V2UpdateAdminBrandRequest
  apps/admin/src/pages/BrandPage/utils/form.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0
