Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: enable format on save in VSCode settings
  .vscode/settings.json
Due: none

chore: add pull request template for improved contribution guidelines
  .github/pull_request_template.md
Due: none

fix: apps/web - eslint not working issue
  apps/web/eslint.config.mjs
Due: none

chore: consolidate prettier config at monorepo root
  .lintstagedrc
  apps/admin/package.json
  apps/web/package.json
  apps/web/prettier.config.mjs
  package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: none

feat: set additional section on brandDetaik
  apps/web/src/entities/brand/ui/BrandProductCard.tsx
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
  apps/web/src/widgets/brand-products/ui/BrandProducts.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add router setup with base pages
  apps/admin/package.json
  apps/admin/src/App.tsx
  apps/admin/src/Router.tsx
  apps/admin/src/constants/route.ts
  apps/admin/src/pages/HomePage/index.tsx
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/pages/SignUpPage/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add useAuth, useCopyToClipBoard custom hooks
  apps/admin/src/hooks/useAuth.ts
  apps/admin/src/hooks/useCopyToClipBoard.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(ui): add shared ui package and wire up admin/web apps
  apps/admin/package.json
  apps/admin/src/Router.tsx
  apps/admin/src/index.css
  apps/admin/src/main.tsx
  apps/admin/src/pages/HomePage/index.tsx
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/globals.css
  package.json
  packages/tailwind-config/shared-styles.css
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/components/ui/accordion.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/components/ui/label.tsx
  packages/ui/src/components/ui/skeleton.tsx
  packages/ui/src/components/ui/tabs.tsx
  packages/ui/src/components/ui/textarea.tsx
  packages/ui/src/global.d.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/styles.css
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): add react-hooks eslint plugin
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore(web): migrate UI imports to @seoul-moment/ui
  apps/web/package.json
  apps/web/src/app/[locale]/not-found.tsx
  apps/web/src/app/globals.css
  apps/web/src/features/about/ui/Partners.tsx
  apps/web/src/features/home/ui/Article.tsx
  apps/web/src/features/home/ui/ContactUS.tsx
  apps/web/src/features/home/ui/News.tsx
  apps/web/src/features/home/ui/SeasonCollection.tsx
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
  apps/web/src/features/product/ui/FilterBar/OptionFilter.tsx
  apps/web/src/features/product/ui/FilterBar/RefreshFilter.tsx
  apps/web/src/features/product/ui/FilterBar/SortFilter.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductFilterSheet.tsx
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
  apps/web/src/features/search/ui/SearchBody.tsx
  apps/web/src/features/search/ui/SearchHeader.tsx
  apps/web/src/shared/ui/accordion.tsx
  apps/web/src/shared/ui/button.tsx
  apps/web/src/shared/ui/chip.tsx
  apps/web/src/shared/ui/dialog.tsx
  apps/web/src/shared/ui/form.tsx
  apps/web/src/shared/ui/input.tsx
  apps/web/src/shared/ui/label.tsx
  apps/web/src/shared/ui/skeleton.tsx
  apps/web/src/shared/ui/tabs.tsx
  apps/web/src/shared/ui/textarea.tsx
  apps/web/src/views/article/ui/ArticleDetailLoading.tsx
  apps/web/src/views/brand/ui/BrandDetailLoading.tsx
  apps/web/src/views/home/ui/HomePage.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/alert-modal/ui/AlertModal.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/filter-sheet/ui/FilterSheet.tsx
  apps/web/src/widgets/lookbook-section/ui/LookbookSection.tsx
  apps/web/src/widgets/share-modal/ui/ShareModal.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): load home data via server components
  apps/web/src/features/home/index.tsx
  apps/web/src/features/home/ui/Article/Article.client.tsx
  apps/web/src/features/home/ui/Article/index.tsx
  apps/web/src/features/home/ui/ContactUS.tsx
  apps/web/src/features/home/ui/IconNic.tsx
  apps/web/src/features/home/ui/News/News.client.tsx
  apps/web/src/features/home/ui/News/index.tsx
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/features/home/ui/PrimeSection/index.tsx
  apps/web/src/shared/services/article.ts
  apps/web/src/shared/services/home.ts
  apps/web/src/shared/services/news.ts
  apps/web/src/views/home/ui/HomePage.tsx
  apps/web/src/widgets/article-list/ui/ArticleList.tsx
  apps/web/src/widgets/article-slide/ui/ArticleSlide.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add api route for revalidating cache
  apps/web/src/app/api/revalidate/route.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: cache detail fetches for 24h
  apps/web/src/shared/services/article.ts
  apps/web/src/shared/services/brand.ts
  apps/web/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add splitLineBreaks util function
  apps/web/src/shared/lib/utils.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: align section3 title, content text center
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust lineHeight & fontSize on BrandDetail
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust main articleList ui
  apps/web/next.config.ts
  apps/web/public/default-image.svg
  apps/web/src/entities/article/ui/ArticleCard.tsx
  apps/web/src/entities/article/ui/StyleCard.tsx
  apps/web/src/shared/constants/image.ts
  apps/web/src/widgets/article-list/ui/ArticleList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust detail layout
  apps/web/src/app/globals.css
  apps/web/src/shared/lib/utils.ts
  apps/web/src/widgets/detail/ui/DetailContent.tsx
  apps/web/src/widgets/detail/ui/DetailMain.tsx
  apps/web/src/widgets/detail/ui/RelatedList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add format option on formatDateTime function
  apps/web/src/shared/lib/utils.ts
  apps/web/src/widgets/detail/ui/DetailMain.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style:(web): apply backgroundBlendMode: darken on MainNewsCard
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): applied asChild option on Button
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/not-found.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust image size on FeaturedNewsCard
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): guard detail content image blocks when no images - set wordbreak on news/article card title
  apps/web/src/entities/article/ui/ArticleCard.tsx
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
  apps/web/src/widgets/detail/ui/DetailContent.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: align locale map and button children rendering
  apps/web/src/i18n/const.ts
  packages/ui/src/components/ui/button.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(admin): apply aliases on admin
  apps/admin/tsconfig.app.json
  apps/admin/vite.config.ts
Due: none

style: remove --background, --foreground on ui/style.css
  packages/ui/src/styles.css
Due: none

feat(ui): add card, table component
  packages/ui/src/components/ui/card.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/table.tsx
Due: none

feat(ui): add avatar, dropdown-menu
  packages/ui/package.json
  packages/ui/src/components/ui/accordion.tsx
  packages/ui/src/components/ui/avatar.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/label.tsx
  packages/ui/src/components/ui/tabs.tsx
  packages/ui/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Due: none

chore(admin): add lucide-react
  apps/admin/package.json
Due: none

feat(admin): add app shell layout with header/sidebar
  apps/admin/src/Router.tsx
  apps/admin/src/index.css
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/shared/components/header.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: remove User type import from lucide-react
  apps/admin/src/shared/components/header.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): tighten login form and sidebar typings
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/shared/components/sidebar.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): hook router guards into auth store
  apps/admin/src/Router.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): connect login screen and header to auth store
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/shared/components/header.tsx
  apps/admin/src/shared/components/layout.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: adjust import order
  packages/ui/vite.config.ts
Due: none

chore: fix eslint parser setup and admin import order
  apps/admin/eslint.config.mjs
  apps/admin/vite.config.ts
  packages/ui/eslint.config.js
Due: none

feat(admin): set temporary email to prevent access publicly
  apps/admin/src/pages/LoginPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(common): set netlify.toml
  apps/admin/netlify.toml
  apps/admin/src/pages/HomePage/index.tsx
  apps/web/netlify.toml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): adjust import order
  apps/admin/src/pages/LoginPage/index.tsx
  packages/eslint-config/base.js
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
