Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: adjust import path
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueAddModal.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueEditModal.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueTable.tsx
  apps/admin/src/pages/ProductOptionsPage/components/index.tsx
  apps/admin/src/pages/ProductOptionsPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: apply formik on editPage
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add productBanner path to router
  apps/admin/src/Router.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: define productBanner query/mutation hooks
  apps/admin/src/pages/ProductBannerPage/hooks/index.ts
  apps/admin/src/pages/ProductBannerPage/hooks/queryKeys.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useAdminProductBannerDetailQuery.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useAdminProductBannerListQuery.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useCreateAdminProductBannerMutation.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useDeleteAdminProductBannerMutation.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useUpdateAdminProductBannerMutation.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useUpdateAdminProductBannerSortOrderMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add components
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerFilters.tsx
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerHeader.tsx
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerModal.tsx
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerTable.tsx
  apps/admin/src/pages/ProductBannerPage/components/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add ProductBanner page
  apps/admin/src/pages/ProductBannerPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set sort info on ProductBannerTable
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerTable.tsx
  apps/admin/src/shared/constants/page.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove ProductBannerFilter
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerFilters.tsx
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerTable.tsx
  apps/admin/src/pages/ProductBannerPage/components/index.ts
  apps/admin/src/pages/ProductBannerPage/index.tsx
  apps/admin/src/shared/constants/page.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set count value to 50
  apps/admin/src/pages/ProductBannerPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: define news/article api functions & hooks
  apps/admin/src/pages/ArticlePage/hooks/index.ts
  apps/admin/src/pages/ArticlePage/hooks/queryKeys.ts
  apps/admin/src/pages/ArticlePage/hooks/useAdminArticleListQuery.ts
  apps/admin/src/pages/ArticlePage/hooks/useAdminArticleQuery.ts
  apps/admin/src/pages/ArticlePage/hooks/useCreateAdminArticleMutation.ts
  apps/admin/src/pages/ArticlePage/hooks/useDeleteAdminArticleMutation.ts
  apps/admin/src/pages/ArticlePage/hooks/useUpdateAdminArticleMutation.ts
  apps/admin/src/pages/NewsPage/hooks/index.ts
  apps/admin/src/pages/NewsPage/hooks/queryKeys.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsListQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useCreateAdminNewsMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useDeleteAdminNewsMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsMutation.ts
  apps/admin/src/shared/services/article.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add NewsPage/ArticlePage to route
  apps/admin/src/Router.tsx
  apps/admin/src/pages/ArticlePage/index.tsx
  apps/admin/src/pages/NewsPage/index.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update ui & apply query hooks on NewsPage
  apps/admin/src/pages/NewsPage/components/NewsFilters.tsx
  apps/admin/src/pages/NewsPage/components/NewsTable.tsx
  apps/admin/src/pages/NewsPage/components/index.ts
  apps/admin/src/pages/NewsPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add NewsAddPage
  apps/admin/src/Router.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsAddHeader.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsFormFooter.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsImageFields.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsInfoCard.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsMetaFields.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/index.ts
  apps/admin/src/pages/NewsPage/AddPage/index.tsx
  apps/admin/src/pages/NewsPage/AddPage/types.ts
  apps/admin/src/pages/NewsPage/AddPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: change categoryId, brandId input to select
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsMetaFields.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add EditPage
  apps/admin/src/Router.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditHeader.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/index.ts
  apps/admin/src/pages/NewsPage/EditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update add/edit page layout
  apps/admin/src/pages/NewsPage/AddPage/components/NewsDetailSections.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsImageFields.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsInfoCard.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsMetaFields.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/index.ts
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: move stripImageDomain into shared/utils
  apps/admin/src/pages/BrandPage/utils/form.ts
  apps/admin/src/pages/BrandPage/utils/section.ts
  apps/admin/src/shared/utils/image.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: init data on editPage
  apps/admin/src/pages/NewsPage/AddPage/components/NewsMetaFields.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/shared/components/image-uploader.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: type error on News DetailContent
  apps/web/src/widgets/detail/ui/DetailContent.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: move add/edit page common components into NewsPage/component
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/index.ts
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/components/NewsDetailSections.tsx
  apps/admin/src/pages/NewsPage/components/NewsFormFooter.tsx
  apps/admin/src/pages/NewsPage/components/NewsImageFields.tsx
  apps/admin/src/pages/NewsPage/components/NewsInfoCard.tsx
  apps/admin/src/pages/NewsPage/components/NewsMetaFields.tsx
  apps/admin/src/pages/NewsPage/components/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply stripImageDomain on section imageList
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update newsForm validator & add required option on image uploader
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/AddPage/utils.ts
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/components/NewsDetailSections.tsx
  apps/admin/src/pages/NewsPage/components/NewsImageFields.tsx
  apps/admin/src/shared/components/image-uploader.tsx
  apps/admin/src/shared/components/multi-image-upload.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update layout ui & apply hook on article page
  apps/admin/src/pages/ArticlePage/components/ArticleFilters.tsx
  apps/admin/src/pages/ArticlePage/components/ArticleTable.tsx
  apps/admin/src/pages/ArticlePage/components/index.ts
  apps/admin/src/pages/ArticlePage/index.tsx
  apps/admin/src/shared/components/sidebar.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set maxImages value to 1
  apps/admin/src/pages/NewsPage/components/NewsDetailSections.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add AGENTS.md on web/admin
  apps/admin/AGENTS.md
  apps/web/AGENTS.md
Due: none

feat: add ArticleAddPage
  apps/admin/src/pages/ArticlePage/AddPage/components/ArticleAddHeader.tsx
  apps/admin/src/pages/ArticlePage/AddPage/components/ArticleForm.tsx
  apps/admin/src/pages/ArticlePage/AddPage/components/index.ts
  apps/admin/src/pages/ArticlePage/AddPage/index.tsx
  apps/admin/src/pages/ArticlePage/AddPage/types.ts
  apps/admin/src/pages/ArticlePage/AddPage/utils.ts
  apps/admin/src/pages/ArticlePage/components/ArticleDetailSections.tsx
  apps/admin/src/pages/ArticlePage/components/ArticleFormFooter.tsx
  apps/admin/src/pages/ArticlePage/components/ArticleImageFields.tsx
  apps/admin/src/pages/ArticlePage/components/ArticleInfoCard.tsx
  apps/admin/src/pages/ArticlePage/components/ArticleMetaFields.tsx
  apps/admin/src/pages/ArticlePage/components/index.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update edit page
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditHeader.tsx
  apps/admin/src/pages/ArticlePage/EditPage/components/index.ts
  apps/admin/src/pages/ArticlePage/EditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add article add/edit page to route
  apps/admin/src/Router.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove preview state on Article
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set image on contact us section
  apps/web/public/contact-us.webp
  apps/web/src/features/home/ui/ContactUS.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add external property on ProductDetailRes
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set product external link
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust bullet size
  apps/web/src/features/product/ui/Banner/product-banner.css
Due: none

feat: apply AutoPlay plugin & update pagination option
  apps/web/src/features/product/ui/Banner/ProductBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update locale json files
  apps/web/src/i18n/messages/en.json
  apps/web/src/i18n/messages/ko.json
  apps/web/src/i18n/messages/zh-TW.json
Due: none

feat: apply translation on header/footter
  apps/web/src/i18n/messages/ko.json
  apps/web/src/widgets/footer/ui/Footer.tsx
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add colorCode to create/updateProductOptionValueRequest
  apps/admin/src/shared/services/productOption.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add colorCode to OptionValueForm type
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueTable.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set ColorCode input on Color type option
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueAddModal.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueEditModal.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueTable.tsx
  apps/admin/src/shared/services/productOption.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set colorCode badge on optionValueTable
  apps/admin/src/pages/ProductOptionsPage/EditPage/index.tsx
  apps/admin/src/pages/ProductOptionsPage/components/OptionValueTable.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
