Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

feat: add BrandEditPage
  apps/admin/package.json
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandEditPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo.tsx
  apps/admin/src/pages/BrandEditPage/hooks/index.ts
  apps/admin/src/pages/BrandEditPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandEditPage/hooks/useAdminBrandQuery.ts
  apps/admin/src/pages/BrandEditPage/hooks/useCreateAdminBrandMutation.ts
  apps/admin/src/pages/BrandEditPage/hooks/useUpdateAdminBrandMutation.ts
  apps/admin/src/pages/BrandEditPage/index.tsx
  apps/admin/src/pages/BrandPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPage/index.tsx
  apps/admin/src/shared/components/multi-image-upload.tsx
  apps/admin/src/shared/constants/locale.ts
  apps/admin/src/shared/constants/route.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandSections
  apps/admin/src/pages/BrandEditPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo.tsx
  apps/admin/src/pages/BrandEditPage/components/BrandSection.tsx
  apps/admin/src/pages/BrandEditPage/index.tsx
  apps/admin/src/pages/BrandEditPage/utils/section.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: show error message if banner images are less than maxLength
  apps/admin/src/pages/BrandEditPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandEditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: show error message on brandSection
  apps/admin/src/pages/BrandEditPage/components/BrandSection.tsx
  apps/admin/src/pages/BrandEditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: seperate component on BasicInfo
  apps/admin/src/pages/BrandEditPage/components/BasicInfo.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/CategorySelect.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/ImageUploader.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/ImageUploaders.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/MultilingualFields.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/index.tsx
  apps/admin/src/shared/components/multi-image-upload.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update nextjs version to 15.3.6
  apps/web/package.json
Due: none

feat(web): replace fixed product id to dynamic id
  apps/web/src/entities/product/ui/ProductCard.tsx
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: enable throwOnError option on useBrandBanner
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add useValidateProductFilter to handle invalid query filter
  apps/web/src/app/[locale]/product/error.tsx
  apps/web/src/features/product/model/useValidateProductFilter.ts
  apps/web/src/views/product/ui/ProductPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set Options component on ProductFilter
  apps/web/src/features/product/ui/Options/GridOption.tsx
  apps/web/src/features/product/ui/Options/OptionRenderer.tsx
  apps/web/src/features/product/ui/Options/RadioOption.tsx
  apps/web/src/features/product/ui/Options/index.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductFilterSheet.tsx
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update lock file
  pnpm-lock.yaml
Due: none

feat(web): apply infiniteScroll on ProductList
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: apply barrel pattern on shared/lib/hooks
  apps/web/src/app/[locale]/product/error.tsx
  apps/web/src/entities/article/model/hooks/useArticle.ts
  apps/web/src/entities/news/model/hooks/useNews.ts
  apps/web/src/features/about/model/usePartnerCategories.ts
  apps/web/src/features/about/model/usePartners.ts
  apps/web/src/features/home/model/useHome.ts
  apps/web/src/features/product/model/useBrandFilter.ts
  apps/web/src/features/product/model/useCategories.ts
  apps/web/src/features/product/model/useProductCategory.ts
  apps/web/src/features/product/model/useProductFilterList.ts
  apps/web/src/features/product/model/useProductSortFilter.ts
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
  apps/web/src/features/product/ui/ProductList/index.tsx
  apps/web/src/features/search/ui/Search.tsx
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useIntersectionObserver.ts
  apps/web/src/views/news/ui/NewsDetailPage.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/brand-products/ui/BrandProducts.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/share-modal/ui/ShareModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: apply border-b-black/20
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductFilterSheet.tsx
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust ProductPage spacing & layout
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
  apps/web/src/views/product/ui/ProductPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add NT$ currency helper and apply to product pricing
  apps/web/src/entities/brand/ui/BrandProductCard.tsx
  apps/web/src/entities/product/ui/ProductCard.tsx
  apps/web/src/shared/lib/utils.ts
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: replace index to product.id on BrandProductList
  apps/web/src/features/product/ui/BrandProductList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set color info on ProductCard
  apps/web/src/entities/product/ui/ProductCard.tsx
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust ProductCard layout on mobile
  apps/web/src/features/product/ui/ProductList/Mobile.tsx
  apps/web/src/shared/ui/card.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply useProductCategory hook & remove mock data on ProductCategoryFilter
  apps/web/src/entities/product/ui/ProductCard.tsx
  apps/web/src/features/product/model/useProductCategory.ts
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/shared/services/product.ts
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilter.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add handleClearFilter on useProductFilter
  apps/web/src/features/product/model/useProductFilter.ts
  apps/web/src/features/product/model/useValidateProductFilter.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust ProductDetail layout & ProductGallery size
  apps/web/src/app/globals.css
  apps/web/src/features/product/ui/BrandProductList.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust ProductGallery layout
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add getOptionMetaById
  apps/web/src/features/product/lib/getOptionMetaById.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: unify product filter option selection by group
  apps/web/src/features/product/model/useProductFilter.ts
  apps/web/src/features/product/ui/Options/GridOption.tsx
  apps/web/src/features/product/ui/Options/OptionRenderer.tsx
  apps/web/src/features/product/ui/Options/RadioOption.tsx
  apps/web/src/features/product/ui/Options/index.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductFilterSheet.tsx
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: rename selectedOpionIds to selectedOptionIds
  apps/web/src/features/product/ui/Options/index.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/features/product/ui/ProductFilterSheet.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove duplicate prop in GridOption
  apps/web/src/features/product/ui/Options/GridOption.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(security): update nextjs version to 15.3.8
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat(web): update global error
  apps/web/src/app/[locale]/error.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: Add global error logging helpers and clean error page imports
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/shared/lib/utils/log/error-type.ts
  apps/web/src/shared/lib/utils/log/global-error.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update product page - error
  apps/web/src/app/[locale]/product/error.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add error.tsx file on news/article/brand/product page
  apps/web/src/app/[locale]/article/[id]/error.tsx
  apps/web/src/app/[locale]/brand/[id]/error.tsx
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/news/[id]/error.tsx
  apps/web/src/app/[locale]/not-found.tsx
  apps/web/src/app/[locale]/product/[id]/error.tsx
  apps/web/src/shared/lib/providers.tsx
  apps/web/src/shared/lib/utils/log/global-error.ts
  apps/web/src/shared/ui/error/page-error.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(ui): add radio component
  packages/ui/package.json
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/radio.tsx
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: none

feat:(web): apply radio on RadioOption
  apps/web/src/features/product/ui/Options/RadioOption.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): apply scrollbar-medium custom style on ProductFilterModal/FilterSheet
  apps/web/src/app/globals.css
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/widgets/filter-sheet/ui/FilterSheet.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust color badge position on ProductCard
  apps/web/src/entities/product/ui/ProductCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add custom query hooks - useAppQuery, useAppInfiniteQuery, useAppMutation
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/query/useAppInfiniteQuery.ts
  apps/web/src/shared/lib/hooks/query/useAppMutation.ts
  apps/web/src/shared/lib/hooks/query/useAppQuery.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: replace useQuery -> useAppQuery
  apps/web/src/entities/brand/model/hooks/useBrandBanner.ts
  apps/web/src/entities/brand/model/hooks/useBrandDetail.ts
  apps/web/src/features/about/model/usePartners.ts
  apps/web/src/features/product/model/useProductFilterList.ts
  apps/web/src/features/product/model/useProducts.ts
  apps/web/src/shared/lib/providers.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/brand-products/ui/BrandProducts.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): apply no-restricted-imports rule
  apps/web/eslint.config.mjs
  apps/web/src/features/product/model/useInfiniteProducts.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust home News/Article list layout
  apps/web/src/features/home/ui/News/News.client.tsx
  apps/web/src/widgets/article-list/ui/ArticleList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0
