Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

docs: make the cart order link all-or-nothing in the plan
  docs/superpowers/plans/2026-09-21-guest-cart.md
Due: none

fix(web): keep one debounce instance across renders
  apps/web/src/entities/cart/api/useMemberCart.ts
  apps/web/src/entities/cart/model/types.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/entities/cart/model/useCart.ts
  apps/web/src/features/cart/ui/CartList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add the guest cart adapter
  apps/web/src/entities/cart/api/queryKey.ts
  apps/web/src/entities/cart/api/useGuestCart.test.tsx
  apps/web/src/entities/cart/api/useGuestCart.ts
  apps/web/src/entities/cart/lib/cartError.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): close guest cart failure paths found in review
  apps/web/src/entities/cart/api/useGuestCart.test.tsx
  apps/web/src/entities/cart/api/useGuestCart.ts
  apps/web/src/entities/cart/index.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): pick the cart adapter from the resolved source
  apps/web/src/entities/cart/api/useCartApi.ts
  apps/web/src/entities/cart/api/useGuestCart.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/entities/cart/model/useCart.ts
  apps/web/src/entities/cart/model/useCartBadgeCount.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): close containment, fake-success, and reconcile gaps in cart adapter
  apps/web/src/entities/cart/api/useCartApi.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/entities/cart/model/useCartBadgeCount.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): let a signed-out visitor use the cart
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/cartOrderHref.test.ts
  apps/web/src/entities/cart/model/cartOrderHref.ts
  apps/web/src/features/cart/model/useAddToCartDraft.test.tsx
  apps/web/src/features/cart/model/useAddToCartDraft.ts
  apps/web/src/features/cart/ui/CartList.tsx
  apps/web/src/views/cart/ui/CartPage.tsx
  apps/web/src/widgets/header/ui/CartButton.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): open the desktop cart gate the header still had closed
  apps/web/src/entities/cart/model/cartOrderHref.test.ts
  apps/web/src/features/cart/model/useAddToCartDraft.test.tsx
  apps/web/src/features/cart/ui/CartEmpty.tsx
  apps/web/src/widgets/header/ui/CartButton.tsx
  apps/web/src/widgets/header/ui/Header.test.tsx
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): drop the guest cart on login
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/ui/GuestCartReset.test.tsx
  apps/web/src/entities/cart/ui/GuestCartReset.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

test(web): make GuestCartReset's mount guarantee actually falsifiable
  apps/web/src/entities/cart/ui/GuestCartReset.test.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): mark the two cart modules a Server Component barrel import exposed
  apps/web/docs/cart.md
  apps/web/src/entities/cart/api/useMemberCart.ts
  apps/web/src/entities/cart/model/cartOrderHref.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): stop guest-cart review fixes from shipping the wrong things
  apps/web/docs/cart.md
  apps/web/src/entities/cart/api/useCartApi.ts
  apps/web/src/entities/cart/api/useGuestCart.ts
  apps/web/src/entities/cart/api/useMemberCart.ts
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/entities/cart/model/useCart.ts
  apps/web/src/features/cart/model/useCartSelection.ts
  apps/web/src/views/cart/ui/CartPage.tsx
  apps/web/src/views/cart/ui/CartSessionGuard.test.tsx
  apps/web/src/views/cart/ui/CartSessionGuard.tsx
  docs/superpowers/specs/2026-09-21-guest-cart-design.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): guard removeAll empty-ids and return a guest to /cart after login
  apps/web/docs/cart.md
  apps/web/src/app/[locale]/login/page.tsx
  apps/web/src/entities/cart/api/useMemberCart.ts
  apps/web/src/entities/cart/model/cartOrderHref.test.ts
  apps/web/src/entities/cart/model/cartOrderHref.ts
  apps/web/src/entities/cart/model/useCart.test.tsx
  apps/web/src/shared/lib/utils/redirectPath.test.ts
  apps/web/src/shared/lib/utils/redirectPath.ts
  apps/web/src/views/login/ui/LoginPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): close a backslash bypass in the login redirect validator
  apps/web/src/shared/lib/utils/redirectPath.test.ts
  apps/web/src/shared/lib/utils/redirectPath.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): stop sending guests to /login from the cart, toast instead
  apps/web/docs/cart.md
  apps/web/src/app/[locale]/login/page.tsx
  apps/web/src/entities/cart/index.ts
  apps/web/src/entities/cart/model/cartOrderHref.test.ts
  apps/web/src/entities/cart/model/cartOrderHref.ts
  apps/web/src/features/cart/ui/CartBar.tsx
  apps/web/src/features/cart/ui/CartList.tsx
  apps/web/src/features/cart/ui/CartSummary.tsx
  apps/web/src/shared/lib/utils/redirectPath.test.ts
  apps/web/src/shared/lib/utils/redirectPath.ts
  apps/web/src/views/login/ui/LoginPage.tsx
  docs/superpowers/specs/2026-09-21-guest-cart-design.md
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(tailwind-config): split design tokens into tokens.css
  .claude/references/style.md
  packages/tailwind-config/package.json
  packages/tailwind-config/shared-styles.css
  packages/tailwind-config/tokens.css
Due: none

style(mobile): apply shared prettier and eslint rules
  apps/mobile/metro.config.js
  apps/mobile/postcss.config.mjs
  apps/mobile/scripts/reset-project.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/explore.tsx
  apps/mobile/src/app/index.tsx
  apps/mobile/src/components/animated-icon.tsx
  apps/mobile/src/components/animated-icon.web.tsx
  apps/mobile/src/components/app-tabs.tsx
  apps/mobile/src/components/app-tabs.web.tsx
  apps/mobile/src/components/external-link.tsx
  apps/mobile/src/components/hint-row.tsx
  apps/mobile/src/components/themed-text.tsx
  apps/mobile/src/components/themed-view.tsx
  apps/mobile/src/components/ui/collapsible.tsx
  apps/mobile/src/components/web-badge.tsx
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/global.css
  apps/mobile/src/hooks/use-color-scheme.ts
  apps/mobile/src/hooks/use-color-scheme.web.ts
  apps/mobile/src/hooks/use-theme.ts
  apps/mobile/src/shared/lib/auth/useUserAuthStore.ts
  apps/mobile/tsconfig.json
Due: none

chore(mobile): share lint config and run lint-staged on mobile
  .lintstagedrc
  apps/mobile/eslint.config.js
  apps/mobile/eslint.config.mjs
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs(mobile): replace Expo template README with project guide
  apps/mobile/README.md
Due: none

feat(mobile): refetch queries on app focus and network reconnect
  apps/mobile/package.json
  apps/mobile/src/shared/lib/query/QueryProvider.tsx
  apps/mobile/src/shared/lib/query/appLifecycle.ts
  apps/mobile/src/shared/lib/query/queryClient.ts
  pnpm-lock.yaml
Due: none

feat(ui): expose cn via @seoul-moment/ui/utils for React Native
  apps/mobile/README.md
  apps/mobile/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

feat(mobile): add gluestack-ui Button backed by shared design tokens
  apps/mobile/README.md
  apps/mobile/package.json
  apps/mobile/src/global.css
  apps/mobile/src/shared/ui/button/index.tsx
  pnpm-lock.yaml
Due: none

feat(admin): duplicate product variants and block duplicate SKUs/options
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/components/VariantSection.tsx
  apps/admin/src/pages/ProductPage/utils.spec.ts
  apps/admin/src/pages/ProductPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(mobile): add design spec for home screen and bottom tabs
  docs/superpowers/specs/2026-10-04-mobile-home-and-bottom-tabs-design.md
Due: none

docs(mobile): add implementation plan for home screen and bottom tabs
  docs/superpowers/plans/2026-10-04-mobile-home-and-bottom-tabs.md
Due: none

chore(mobile): point dev builds at the dev API and fix the light theme
  .gitignore
  apps/mobile/app.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/tsconfig.json
Due: none

feat(mobile): replace the Expo template with Seoul Moment bottom tabs
  apps/mobile/assets/images/expo-badge-white.png
  apps/mobile/assets/images/expo-badge.png
  apps/mobile/assets/images/react-logo.png
  apps/mobile/assets/images/react-logo@2x.png
  apps/mobile/assets/images/react-logo@3x.png
  apps/mobile/assets/images/tabIcons/explore.png
  apps/mobile/assets/images/tabIcons/explore@2x.png
  apps/mobile/assets/images/tabIcons/explore@3x.png
  apps/mobile/assets/images/tabIcons/home.png
  apps/mobile/assets/images/tabIcons/home@2x.png
  apps/mobile/assets/images/tabIcons/home@3x.png
  apps/mobile/assets/images/tutorial-web.png
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/_layout.web.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/my.tsx
  apps/mobile/src/app/(tabs)/news.tsx
  apps/mobile/src/app/(tabs)/shop.tsx
  apps/mobile/src/app/explore.tsx
  apps/mobile/src/app/index.tsx
  apps/mobile/src/components/app-tabs.tsx
  apps/mobile/src/components/app-tabs.web.tsx
  apps/mobile/src/components/external-link.tsx
  apps/mobile/src/components/hint-row.tsx
  apps/mobile/src/components/themed-text.tsx
  apps/mobile/src/components/themed-view.tsx
  apps/mobile/src/components/ui/collapsible.tsx
  apps/mobile/src/components/web-badge.tsx
  apps/mobile/src/hooks/use-color-scheme.ts
  apps/mobile/src/hooks/use-color-scheme.web.ts
  apps/mobile/src/hooks/use-theme.ts
  apps/mobile/src/shared/ui/screen-placeholder/index.tsx
Due: none

feat(mobile): add home API services and a device language hook
  apps/mobile/src/shared/lib/i18n/useLanguage.ts
  apps/mobile/src/shared/services/article.ts
  apps/mobile/src/shared/services/home.ts
  apps/mobile/src/shared/services/news.ts
  apps/mobile/src/shared/services/product.ts
Due: none

fix(mobile): remove newsCategoryName from News interface
  apps/mobile/src/shared/services/news.ts
Due: none

feat(mobile): add shared section chrome and entity cards
  apps/mobile/src/entities/post/ui/PostRow.tsx
  apps/mobile/src/entities/product/ui/ProductCard.tsx
  apps/mobile/src/shared/ui/section-state/index.tsx
  apps/mobile/src/shared/ui/section/index.tsx
Due: none

feat(mobile): add home query hooks owned per section
  apps/mobile/src/features/home/model/useHomeLists.ts
  apps/mobile/src/features/home/model/useHomePrime.ts
  apps/mobile/src/features/home/model/useRefreshHome.ts
Due: none

feat(mobile): add the home hero banner and promotion section
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/features/home/ui/HeroBanner.tsx
  apps/mobile/src/features/home/ui/PromotionSection.tsx
Due: none

feat(mobile): add the product, news, article and contact sections
  apps/mobile/src/features/home/index.ts
  apps/mobile/src/features/home/ui/ArticleSection.tsx
  apps/mobile/src/features/home/ui/ContactSection.tsx
  apps/mobile/src/features/home/ui/NewsSection.tsx
  apps/mobile/src/features/home/ui/NowOnSaleSection.tsx
Due: none

feat(mobile): assemble the home screen with pull-to-refresh
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/features/home/ui/ArticleSection.tsx
  apps/mobile/src/features/home/ui/HeroBanner.tsx
  apps/mobile/src/features/home/ui/NewsSection.tsx
  apps/mobile/src/features/home/ui/NowOnSaleSection.tsx
  apps/mobile/src/features/home/ui/PromotionSection.tsx
Due: none

refactor(mobile): remove the Contact Us section from the home screen
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/features/home/index.ts
  apps/mobile/src/features/home/ui/ContactSection.tsx
  docs/superpowers/plans/2026-10-04-mobile-home-and-bottom-tabs.md
  docs/superpowers/specs/2026-10-04-mobile-home-and-bottom-tabs-design.md
Due: none

feat(mobile): show tab labels for all tabs on Android
  apps/mobile/src/app/(tabs)/_layout.tsx
Due: none

fix(mobile): show post dates in local time and apply review fixes
  apps/mobile/.env.example
  apps/mobile/README.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/entities/post/ui/PostRow.tsx
  apps/mobile/src/features/home/index.ts
  apps/mobile/src/features/home/ui/HeroBanner.tsx
  apps/mobile/src/features/home/ui/NowOnSaleSection.tsx
  docs/superpowers/specs/2026-10-04-mobile-home-and-bottom-tabs-design.md
Due: none

feat(mobile): add a shared app header to all tabs
  apps/mobile/assets/images/logo.png
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/shared/ui/app-header/index.tsx
  apps/mobile/src/shared/ui/screen-placeholder/index.tsx
Due: none
