Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/admin/src/pages/BrandPage/AddPage/components/BrandForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: prevent submit while formik is submitting
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

Revert "Merge pull request #42 from SeoulMomentTech/feat/admin-brand"
  apps/admin/package.json
  apps/admin/src/pages/BrandPage/AddPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/ImageUploaders.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/index.tsx
  apps/admin/src/pages/BrandPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/hooks/useUpdateAdminBrandV2Mutation.ts
  apps/admin/src/pages/BrandPage/utils/form.ts
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/services/brand.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add mobileImageUrl on productBanner response & request payload
  apps/admin/src/shared/services/productBanner.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set mobileImage upload on ProductBannerModal
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerModal.tsx
  apps/admin/src/pages/ProductBannerPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: extend resetState
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerModal.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: define additional api functions and hooks on products
  apps/admin/src/pages/ProductPage/hooks/index.ts
  apps/admin/src/pages/ProductPage/hooks/queryKeys.ts
  apps/admin/src/pages/ProductPage/hooks/useAdminProductItemDetailQuery.ts
  apps/admin/src/pages/ProductPage/hooks/useCreateAdminProductItemMutation.ts
  apps/admin/src/pages/ProductPage/hooks/useDeleteAdminProductItemMutation.ts
  apps/admin/src/pages/ProductPage/hooks/useUpdateAdminProductItemMutation.ts
  apps/admin/src/shared/services/products.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add product item delete action
  apps/admin/src/pages/ProductPage/components/ProductTable.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add ProductAddPage, ProductEditPage route
  apps/admin/src/Router.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add product add pages with variant options and update product list
  apps/admin/src/pages/ProductPage/AddPage/components/OptionValueModal.tsx
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/AddPage/components/ProductBasicInfoSection.tsx
  apps/admin/src/pages/ProductPage/AddPage/components/ProductImageSection.tsx
  apps/admin/src/pages/ProductPage/AddPage/components/ShippingInfoSection.tsx
  apps/admin/src/pages/ProductPage/AddPage/components/VariantSection.tsx
  apps/admin/src/pages/ProductPage/AddPage/index.tsx
  apps/admin/src/pages/ProductPage/AddPage/types.ts
  apps/admin/src/pages/ProductPage/AddPage/utils.ts
  apps/admin/src/pages/ProductPage/EditPage/index.tsx
  apps/admin/src/pages/ProductPage/components/ProductTable.tsx
  apps/admin/src/pages/ProductPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update product edit page with editForm
  apps/admin/src/pages/ProductPage/AddPage/components/ProductImageSection.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/index.tsx
  apps/admin/src/shared/components/image-uploader.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): move product form sections to shared components directory
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/components/OptionBadge.tsx
  apps/admin/src/pages/ProductPage/components/OptionValueModal.tsx
  apps/admin/src/pages/ProductPage/components/ProductBasicInfoSection.tsx
  apps/admin/src/pages/ProductPage/components/ProductImageSection.tsx
  apps/admin/src/pages/ProductPage/components/ProductTable.tsx
  apps/admin/src/pages/ProductPage/components/ShippingInfoSection.tsx
  apps/admin/src/pages/ProductPage/components/VariantSection.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: move product types & utills to shared directory
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/components/VariantSection.tsx
  apps/admin/src/pages/ProductPage/types.ts
  apps/admin/src/pages/ProductPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): improve product form validation and UI feedback
  .gemini/GEMINI.md
  .gemini/skills/code-review/SKILL.md
  .gemini/skills/commit-helper/SKILL.md
  .gemini/skills/design-system-foundation/SKILL.md
  .gemini/skills/pr-helper/SKILL.md
  apps/admin/.gemini/GEMINI.md
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/components/OptionBadge.tsx
  apps/admin/src/pages/ProductPage/components/ProductBasicInfoSection.tsx
  apps/admin/src/pages/ProductPage/components/ProductTable.tsx
  apps/admin/src/pages/ProductPage/components/ShippingInfoSection.tsx
  apps/admin/src/pages/ProductPage/components/VariantSection.tsx
  apps/admin/src/pages/ProductPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): integrate main image state into Formik
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/types.ts
  apps/admin/src/pages/ProductPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): extract modal logic to useOptionValueModal hook
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/hooks/index.ts
  apps/admin/src/pages/ProductPage/hooks/useOptionValueModal.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(admin): revoke object URL to prevent memory leaks
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(e2e): initialize playwright testing for web and admin apps
  .gemini/.settings.json
  .gitignore
  apps/admin/.gitignore
  apps/admin/e2e/example.spec.ts
  apps/admin/package.json
  apps/admin/playwright.config.ts
  apps/admin/test-results/.last-run.json
  apps/web/.codex/mcp.json
  apps/web/.gitignore
  apps/web/e2e/example.spec.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: add api-to-hook, swagger-to-code SKILL
  .codex/skills/api-to-hook/SKILL.md
  .codex/skills/swagger-to-code/SKILL.md
  .gemini/skills/api-to-hook/SKILL.md
  .gemini/skills/swagger-to-code/SKILL.md
Due: none

feat: add user list api functions & query hook
  apps/admin/src/pages/UserPage/hooks/index.ts
  apps/admin/src/pages/UserPage/hooks/queryKeys.ts
  apps/admin/src/pages/UserPage/hooks/useAdminUserListQuery.ts
  apps/admin/src/shared/services/user.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): implement user management page UI
  apps/admin/src/Router.tsx
  apps/admin/src/pages/UserPage/components/UserFilters.tsx
  apps/admin/src/pages/UserPage/components/UserTable.tsx
  apps/admin/src/pages/UserPage/components/index.ts
  apps/admin/src/pages/UserPage/index.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: show indicator on loading
  apps/admin/src/pages/UserPage/components/UserTable.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: remove name column
  apps/admin/src/pages/UserPage/components/UserTable.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): replace hardcoded strings with i18n translations
  apps/web/src/features/home/ui/ContactUS.tsx
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
  apps/web/src/features/product/ui/ProductFilterModal.tsx
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/filter-sheet/ui/FilterSheet.tsx
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilter.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): maintain current pathname when switching languages
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/language-support/ui/LanguageSupport.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): centralize locale handling and use next-intl Link
  apps/web/src/i18n/const.ts
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/language-support/ui/LanguageSupport.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: replace next/link to i18n/navigation
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/views/magazine/ui/MagazinePage.tsx
  apps/web/src/widgets/detail/ui/RelatedList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: set mobileBanner on ProductBanner
  apps/web/src/features/product/ui/Banner/ProductBanner.tsx
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(ci): improve opencode review workflow
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
Due: none

fix: syntax error
  .github/workflows/opencode-review.yml
Due: none

refactor: update comment
  .github/workflows/opencode-review.yml
Due: none

feat: change optionValueList to optionValueIdList
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/shared/services/products.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(admin): filter out 0 values in parseOptionValueIds
  apps/admin/src/pages/ProductPage/utils.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

test(admin): add unit tests for parseOptionValueIds
  apps/admin/package.json
  apps/admin/src/pages/ProductPage/utils.spec.ts
  apps/admin/src/pages/ProductPage/utils.ts
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): enforce consistent naming and types for option values
  apps/admin/src/pages/ProductPage/types.ts
  apps/admin/src/pages/ProductPage/utils.spec.ts
  apps/admin/src/pages/ProductPage/utils.ts
  apps/admin/src/shared/services/products.ts
  apps/admin/vite.config.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/admin/src/pages/ProductPage/AddPage/components/ProductAddForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): strict option value ID validation and documentation
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/utils.spec.ts
  apps/admin/src/pages/ProductPage/utils.ts
  apps/admin/src/shared/services/productOption.ts
  apps/admin/src/shared/services/products.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

test(admin): improve isHexCode validation and add unit tests
  apps/admin/src/pages/ProductOptionsPage/utils/color.ts
  apps/admin/src/pages/ProductOptionsPage/utils/utils.spec.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
