Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add Microsoft Clarity tracking script
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): remove dangerouslySetInnerHTML and enhance Clarity script security
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add health check API route
  apps/web/src/app/api/health/route.ts
  apps/web/src/middleware.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: add react-google-recaptcha package
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat(web): add reCAPTCHA verification to inquiry form
  apps/web/public/alert_complete.svg
  apps/web/public/alert_error.svg
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): transition reCAPTCHA site key to env var and add token reset logic
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): refine inquiry form logic and validation
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(ui): add search-bar component
  packages/ui/package.json
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/search-bar.tsx
  pnpm-lock.yaml
Due: none

feat(product): implement search functionality for desktop product page
  apps/web/src/features/product/ui/ProductList/Desktop/index.tsx
  apps/web/src/widgets/news-update/ui/NewsUpdate.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add useProductSearch
  apps/web/src/features/product/model/useProductSearch.ts
  apps/web/src/features/product/ui/ProductList/Desktop/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: update globals.css
  apps/web/src/app/globals.css
Due: none

style: update shared-styles.css
  packages/tailwind-config/shared-styles.css
Due: none

fix(web): fix duplicated title in MegazineCard
  apps/web/src/entities/megazine/ui/MegazineCard.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add bottom UI and navigation to MegazineSlide
  apps/web/src/entities/megazine/ui/MegazineCard.tsx
  apps/web/src/shared/ui/icon/arrow-right-icon.tsx
  apps/web/src/shared/ui/icon/chevron-left-icon.tsx
  apps/web/src/shared/ui/icon/chevron-right-icon.tsx
  apps/web/src/shared/ui/icon/index.tsx
  apps/web/src/widgets/megazine-slide/ui/MegazineSlide.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: remove console.log
  apps/web/src/widgets/megazine-slide/ui/MegazineSlide.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract Empty UI from RelatedList and apply empty state
  apps/web/src/widgets/detail/ui/RelatedEmpty.tsx
  apps/web/src/widgets/detail/ui/RelatedList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: adjust bottom area padding
  apps/web/src/widgets/megazine-slide/ui/MegazineSlide.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add "Now On Sale" section and related features to HomePage
  apps/web/src/entities/megazine/ui/MegazineCard.tsx
  apps/web/src/features/home/index.tsx
  apps/web/src/features/home/ui/NowOnSale/NowOnSale.client.test.tsx
  apps/web/src/features/home/ui/NowOnSale/NowOnSale.client.tsx
  apps/web/src/features/home/ui/NowOnSale/index.tsx
  apps/web/src/features/product/model/useProducts.ts
  apps/web/src/i18n/messages/en.json
  apps/web/src/i18n/messages/ko.json
  apps/web/src/i18n/messages/zh-TW.json
  apps/web/src/shared/services/product.ts
  apps/web/src/views/home/ui/HomePage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: add github-pr-creator skill
  .gemini/skills/github-pr-creator/SKILL.md
Due: none

feat: add custom command - github-pr.toml
  .gemini/commands/github-pr.toml
Due: none

refactor(home): remove SeasonCollection from home page
  apps/web/src/features/home/ui/PrimeSection/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(inquiry): enlarge QR code images on click
  apps/web/src/features/inquiry/ui/KakaoQR.tsx
  apps/web/src/features/inquiry/ui/LineQR.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(inquiry): improve QRcode enlargement component structure
  apps/web/src/features/inquiry/index.tsx
  apps/web/src/features/inquiry/ui/KakaoQR.tsx
  apps/web/src/features/inquiry/ui/LineQR.tsx
  apps/web/src/views/contact/ui/InquiryPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(magazine): implement NewsList UI in Magazine page and extend ArticleCard
  apps/web/src/entities/article/ui/ArticleCard.tsx
  apps/web/src/entities/magazine/ui/MagazineCardInfo.tsx
  apps/web/src/views/magazine/ui/MagazinePage.tsx
  apps/web/src/widgets/author-with-date/ui/AuthorWithDate.tsx
  apps/web/src/widgets/news-list/ui/NewsList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): implement promotion page and components
  apps/web/next.config.ts
  apps/web/src/app/[locale]/promotion/page.tsx
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandIntroduction.tsx
  apps/web/src/features/promotion/ui/BrandLookbook.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/features/promotion/ui/MainBanner.tsx
  apps/web/src/views/promotion/index.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandSpecialEvent
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandSpecialEvent.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandOfflinePopup
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandOnlineEvent
  apps/web/src/features/promotion/index.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update layout script
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): move promotion detail page path
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(promotion): enhance BrandOnlineEvent and apply dynamic routing
  apps/web/src/app/[locale]/brand/promotion/[id]/page.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/BrandLinksSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/EventCard.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/NoticeSection.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/features/promotion/ui/BrandTab.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract ScrollToTop logic into a custom hook and widgetize
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useScrollToTop.ts
  apps/web/src/shared/ui/floating.tsx
  apps/web/src/shared/ui/scroll-restoration.tsx
  apps/web/src/views/promotion/ui/PromotionPage.tsx
  apps/web/src/widgets/scroll-to-top/index.tsx
  apps/web/src/widgets/scroll-to-top/ui/ScrollToTop.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add URL field to product banner
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerModal.tsx
  apps/admin/src/pages/ProductBannerPage/index.tsx
  apps/admin/src/shared/services/productBanner.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add isValidUrl util function
  apps/admin/src/pages/ProductBannerPage/components/ProductBannerModal.tsx
  apps/admin/src/shared/utils/url.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add click event and navigation logic to product banners
  apps/web/src/features/product/ui/Banner/ProductBanner.tsx
  apps/web/src/shared/lib/utils.ts
  apps/web/src/shared/services/product.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update github-pr.toml
  .gemini/commands/github-pr.toml
Due: none

refactor(promotion): modularize BrandLookbook components and introduce SwitchCase
  apps/web/src/features/promotion/ui/BrandLookbook.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
  apps/web/src/features/promotion/ui/BrandLookbook/index.tsx
  apps/web/src/shared/ui/switch-case.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(promotion): modularize BrandLookbook and apply semantic naming
  apps/web/src/features/promotion/ui/BrandLookbook/ImageContents.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(ui): replace arbitrary Tailwind values with standard utility classes
  apps/web/src/entities/article/ui/ArticleCard.tsx
  apps/web/src/entities/article/ui/StyleCard.tsx
  apps/web/src/entities/brand/ui/BrandProductCard.tsx
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
  apps/web/src/entities/news/ui/NewsCard.tsx
  apps/web/src/entities/partner/ui/PartnerCard.tsx
  apps/web/src/entities/product/ui/ProductCard.tsx
  apps/web/src/features/about/ui/Company.tsx
  apps/web/src/features/about/ui/MainBanner.tsx
  apps/web/src/features/about/ui/Mission.tsx
  apps/web/src/features/about/ui/Partners.tsx
  apps/web/src/features/about/ui/Vision.tsx
  apps/web/src/features/home/ui/AboutUs.tsx
  apps/web/src/features/home/ui/Article/Article.client.tsx
  apps/web/src/features/home/ui/ContactUS.tsx
  apps/web/src/features/home/ui/News/index.tsx
  apps/web/src/features/home/ui/NowOnSale/NowOnSale.client.tsx
  apps/web/src/features/home/ui/NowOnSale/index.tsx
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/features/home/ui/PrimeSection/index.tsx
  apps/web/src/features/product/ui/Banner/ProductBanner.tsx
  apps/web/src/features/product/ui/Banner/ProductBrandBanner.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(gemini): optimize sub-agent configurations and add usage guide
  .gemini/SUB_AGENT_GUIDE.md
  .gemini/agents/admin-specialist.md
  .gemini/agents/senior-architect.md
  .gemini/agents/tech-lead.md
  .gemini/agents/web-specialist.md
Due: none

Path conditions:
  pnpm --filter @seoul-moment/web exec prettier --write: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/web/src/**/*.{js,ts,jsx,tsx}
  pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0: any of: apps/admin/src/**/*.{js,ts,jsx,tsx}
