Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

docs: sync CLAUDE.md files with current codebase state
  .claude/CLAUDE.md
  apps/admin/.claude/CLAUDE.md
  apps/web/.claude/CLAUDE.md
Due: none

docs(web): add LINE Login disclosure to privacy policy
  apps/web/src/shared/ui/privacy-policy-content.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(mypage): capitalize summary stat labels and align stat key
  apps/web/src/features/mypage/ui/SummaryStats.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(mypage): simplify summary stats and hide banner
  apps/web/src/features/mypage/ui/SummaryStats.tsx
  apps/web/src/views/mypage/ui/MyPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(conventions): clarify external library imports are not FSD-restricted
  .claude/references/general.md
Due: none

chore(ui): adjust banner title, mypage stats, and product image label
  apps/admin/src/pages/ProductPage/components/ProductImageSection.tsx
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/views/mypage/ui/MyPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(mypage): add horizontal scroll buttons to category chips
  apps/web/src/features/mypage/ui/InterestCategoryChips.tsx
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilter.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(mypage): restrict postal code to numeric input
  apps/web/src/features/mypage/ui/ProfileSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(header): show toast on logout
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/widgets/header/ui/Header.tsx
  apps/web/src/widgets/header/ui/LoginStatus.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(mypage): make profile gender, birthday, region optional
  apps/web/src/features/mypage/ui/ProfileSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(ci): reply to inline review threads on /ask command
  .github/scripts/ai-code-review.js
  .github/workflows/code-review.yml
Due: none

fix(admin): enable home banner save when only one image changes
  apps/admin/src/pages/HomeBannerPage/components/BannerModal.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add image crop modal for profile image change
  apps/web/package.json
  apps/web/src/features/mypage/lib/cropImage.ts
  apps/web/src/features/mypage/ui/ProfileImageCropDialog.tsx
  apps/web/src/features/mypage/ui/ProfileSection.tsx
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): set default zoom to 2x in profile image crop modal
  apps/web/src/features/mypage/ui/ProfileImageCropDialog.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract profile image upload into useProfileImageUpload hook
  apps/web/src/features/mypage/model/useProfileImageUpload.ts
  apps/web/src/features/mypage/ui/ProfileSection.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(web): add profile image crop documentation
  apps/web/docs/profile-image-crop.md
Due: none

docs(web): add domain feature documentation
  apps/web/docs/README.md
  apps/web/docs/auth.md
  apps/web/docs/content.md
  apps/web/docs/mypage.md
  apps/web/docs/product.md
  apps/web/docs/promotion.md
Due: none

feat(news): add web news dashboard and category APIs with query hooks
  apps/web/src/entities/news/model/hooks/index.ts
  apps/web/src/entities/news/model/hooks/useNewsDashboard.ts
  apps/web/src/features/news/model/useInfiniteNewsByCategory.ts
  apps/web/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(inquiry): use i18n keys for subject select options
  apps/web/src/features/inquiry/ui/InquiryForm.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(news): bind NewsPage sections to dashboard and category APIs
  apps/web/src/entities/article/ui/StyleCard.tsx
  apps/web/src/entities/news/ui/NewsCard.tsx
  apps/web/src/views/news/ui/NewsPage.tsx
  apps/web/src/views/news/ui/NewsPageContent.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/hot-list/ui/HotKeywordList.tsx
  apps/web/src/widgets/lifestyle-list/ui/LifeStyleList.tsx
  apps/web/src/widgets/news-update/ui/NewsUpdate.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(news): hide empty sections and clamp card title
  apps/web/src/entities/article/ui/StyleCard.tsx
  apps/web/src/views/news/ui/NewsPageContent.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(news): display news category on featured and update cards
  apps/web/src/entities/news/ui/FeaturedNewsCard.tsx
  apps/web/src/shared/services/news.ts
  apps/web/src/views/news/ui/NewsPageContent.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/hot-list/ui/HotKeywordList.tsx
  apps/web/src/widgets/news-update/ui/NewsUpdate.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(lifestyle): bind news category to lifestyle cards
  apps/web/src/widgets/lifestyle-list/ui/LifeStyleList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): lock all phone verification to Taiwan dial code
  apps/web/src/features/find-password/model/schema.ts
  apps/web/src/features/find-password/ui/AccountField.tsx
  apps/web/src/features/find-password/ui/VerificationForm.tsx
  apps/web/src/features/mypage/ui/PhoneVerificationFlow.tsx
  apps/web/src/shared/lib/utils.test.ts
  apps/web/src/shared/lib/utils.ts
  apps/web/src/widgets/phone-verification-modal/ui/PhoneVerificationModal.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): remove debug log and pass category prop to home news cards
  apps/web/src/features/home/ui/News/NewsDesktopSlider.tsx
  apps/web/src/features/home/ui/News/NewsMobileSlider.tsx
  apps/web/src/features/login/ui/SocialLoginButtons.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): use typography tokens in AuthorWithDate
  apps/web/src/widgets/author-with-date/ui/AuthorWithDate.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust news page mobile responsive layout
  apps/web/src/views/news/ui/NewsPageContent.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/hot-list/ui/HotKeywordList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add news more link to home and fix related list href
  apps/web/src/features/home/ui/News/News.client.tsx
  apps/web/src/widgets/detail/ui/RelatedList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): align editor pick card heights and mobile padding
  apps/web/src/entities/article/ui/StyleCard.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add PC slide navigation to HotKeywordList
  apps/web/src/views/news/ui/NewsPageContent.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/editor-pick/ui/editor-pick-slide.css
  apps/web/src/widgets/hot-list/ui/HotKeywordList.tsx
  apps/web/src/widgets/hot-list/ui/hot-keyword-slide.css
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract shared CardSlider and swiper edge-state hook
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useSwiperEdges.ts
  apps/web/src/shared/ui/card-slider.tsx
  apps/web/src/shared/ui/slide-button.tsx
  apps/web/src/widgets/editor-pick/ui/EditorPickSlide.tsx
  apps/web/src/widgets/hot-list/ui/HotKeywordList.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

test(web): fix home content tests broken by missing intl provider
  apps/web/src/features/home/ui/Article/Article.client.test.tsx
  apps/web/src/features/home/ui/News/News.client.test.tsx
  apps/web/src/features/home/ui/NowOnSale/NowOnSale.client.test.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): add Google AdSense ads.txt
  apps/web/public/ads.txt
Due: none

feat(web): add News menu to header navigation
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add hreflang alternates to sitemap and harden pagination
  apps/web/src/app/sitemap.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(web): add Google site verification meta tag
  apps/web/src/app/[locale]/layout.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add news category, hashtag, and V1 news API with query hooks
  apps/admin/src/pages/NewsPage/hooks/index.ts
  apps/admin/src/pages/NewsPage/hooks/queryKeys.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsCategoryListQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsCategoryQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsHashtagListQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsHashtagQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsV1Query.ts
  apps/admin/src/pages/NewsPage/hooks/useCreateAdminNewsV1Mutation.ts
  apps/admin/src/pages/NewsPage/hooks/useDeleteAdminNewsCategoryMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useDeleteAdminNewsHashtagMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsCategoryMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsHashtagMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsMutation.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsV1Mutation.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add news hashtag management page (R/U/D)
  apps/admin/src/Router.tsx
  apps/admin/src/pages/NewsPage/HashtagPage/components/HashtagEditModal.tsx
  apps/admin/src/pages/NewsPage/HashtagPage/components/HashtagTable.tsx
  apps/admin/src/pages/NewsPage/HashtagPage/components/index.ts
  apps/admin/src/pages/NewsPage/HashtagPage/index.tsx
  apps/admin/src/pages/NewsPage/HashtagPage/utils.ts
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): add news category management page (R/U/D)
  apps/admin/src/Router.tsx
  apps/admin/src/pages/NewsPage/CategoryPage/components/NewsCategoryEditModal.tsx
  apps/admin/src/pages/NewsPage/CategoryPage/components/NewsCategoryTable.tsx
  apps/admin/src/pages/NewsPage/CategoryPage/components/index.ts
  apps/admin/src/pages/NewsPage/CategoryPage/index.tsx
  apps/admin/src/pages/NewsPage/CategoryPage/utils.ts
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
  apps/admin/src/shared/constants/route.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0
