Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

style(web): adjust ProductPage/ProductGallery space value
  apps/web/src/views/product/ui/ProductPage.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: disable route prefetch on mobile header
  apps/web/src/widgets/footer/ui/Footer.tsx
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style: apply aspect-ratio on ProductGallery main image
  apps/web/src/views/product/ui/ProductDetailPage.tsx
  apps/web/src/widgets/product-detail-image/ui/ProductDetaillmage.tsx
  apps/web/src/widgets/product-gallery/ui/ProductGallery.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): adjust Header, RelatedList width
  apps/web/src/widgets/detail/ui/RelatedList.tsx
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): split ProductList components
  apps/web/src/features/product/ui/ProductList/Desktop.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/BrandFilterSidebar.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/ProductGridSection.tsx
  apps/web/src/features/product/ui/ProductList/Desktop/index.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/ProductListSection.tsx
  apps/web/src/features/product/ui/ProductList/Mobile/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: ignore empty array values in filter count
  apps/web/src/features/product/model/useProductFilter.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

style(web): apply min-width on header
  apps/web/src/widgets/header/ui/Header.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): scroll to top on route change
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/shared/ui/ScrollToTop.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: sentry setup on project
  .vscode/settings.json
  apps/web/.gitignore
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/instrumentation-client.ts
  apps/web/src/instrumentation.ts
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: capture errors and send to sentry
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/shared/lib/providers.tsx
  apps/web/src/shared/services/index.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: disable sendDefaultPii option
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/instrumentation-client.ts
  apps/web/src/shared/lib/providers.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: remove requestData
  apps/web/src/shared/services/index.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: enbale productionBrowserSourceMaps
  apps/web/next.config.ts
Due: none

feat: set passThroughEnv option on turbo.json
  turbo.json
Due: none

chore: adjust error text on root error.tsx
  apps/web/src/app/[locale]/error.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: set Props type on useAppQuery
  apps/web/src/shared/lib/hooks/query/useAppQuery.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: call detail api after validate id type
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/views/article/ui/ArticleDetailLoading.tsx
  apps/web/src/views/article/ui/ArticleDetailPage.tsx
  apps/web/src/views/brand/ui/BrandDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): rename ScrollToTop -> scroll-to-top
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/shared/ui/scroll-to-top.tsx
  apps/web/src/shared/ui/select.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add ALL on ProductCategoryFilter
  apps/web/src/widgets/product-category-filter/ui/ProductCategoryFilter.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): route abort on product page
  apps/web/src/features/product/model/useProductFilter.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: apply parseInt
  apps/web/src/app/[locale]/article/[id]/page.tsx
  apps/web/src/app/[locale]/brand/[id]/page.tsx
  apps/web/src/app/[locale]/product/[id]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update productDetail brand data type
  apps/web/src/shared/services/product.ts
  apps/web/src/views/product/ui/ProductDetailPage.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): update response type of uploadAdminImage
  apps/admin/src/shared/services/upload.ts
  apps/admin/src/shared/utils/image.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: seperate components on ProductFilterSheet
  apps/web/src/features/product/ui/ProductFilterSheet.tsx
  apps/web/src/features/product/ui/ProductFilterSheet/BrandFilter.tsx
  apps/web/src/features/product/ui/ProductFilterSheet/CategoryFilter.tsx
  apps/web/src/features/product/ui/ProductFilterSheet/OptionalFilters.tsx
  apps/web/src/features/product/ui/ProductFilterSheet/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: apply sub accordion on CategoryFilter
  apps/web/src/features/product/ui/ProductFilterSheet/CategoryFilter.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(ui): created flex component
  packages/ui/src/components/ui/flex.tsx
Due: none

feat(ui): add vstack & hstack layout component base on flex
  packages/ui/src/components/ui/hstack.tsx
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/vstack.tsx
Due: none

refactor: add @description comment on vstack&hstack
  packages/ui/src/components/ui/hstack.tsx
  packages/ui/src/components/ui/vstack.tsx
Due: none

refactor: change default export to named export
  packages/ui/src/components/ui/flex.tsx
  packages/ui/src/components/ui/hstack.tsx
  packages/ui/src/components/ui/vstack.tsx
Due: none

feat: apply Flex, VStack. HStack on Admin
  apps/admin/src/pages/BrandPage/index.tsx
  apps/admin/src/pages/HomeBannerPage/components/BannerModal.tsx
  apps/admin/src/pages/HomeBannerPage/components/BannerPreview.tsx
  apps/admin/src/pages/HomeBannerPage/index.tsx
  apps/admin/src/pages/HomePage/index.tsx
  apps/admin/src/pages/LoginPage/index.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryCreateModal.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryEditModal.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryFilters.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryHeader.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryPagination.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryTable.tsx
  apps/admin/src/pages/SignUpPage/index.tsx
  apps/admin/src/shared/components/global-errorboundary.tsx
  apps/admin/src/shared/components/header.tsx
  apps/admin/src/shared/components/image-with-fallback.tsx
  apps/admin/src/shared/components/layout.tsx
  apps/admin/src/shared/components/sidebar.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandSections
  apps/admin/src/pages/BrandEditPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo.tsx
  apps/admin/src/pages/BrandEditPage/components/BrandSection.tsx
  apps/admin/src/pages/BrandEditPage/index.tsx
  apps/admin/src/pages/BrandEditPage/utils/section.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: add BrandEditPage
  apps/admin/package.json
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandEditPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo.tsx
  apps/admin/src/pages/BrandEditPage/hooks/index.ts
  apps/admin/src/pages/BrandEditPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandEditPage/hooks/useAdminBrandQuery.ts
  apps/admin/src/pages/BrandEditPage/hooks/useCreateAdminBrandMutation.ts
  apps/admin/src/pages/BrandEditPage/hooks/useUpdateAdminBrandMutation.ts
  apps/admin/src/pages/BrandEditPage/index.tsx
  apps/admin/src/pages/BrandPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPage/index.tsx
  apps/admin/src/shared/components/multi-image-upload.tsx
  apps/admin/src/shared/constants/locale.ts
  apps/admin/src/shared/constants/route.ts
  apps/web/.cursor/mcp.json
  pnpm-lock.yaml
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: seperate component on BasicInfo
  apps/admin/src/pages/BrandEditPage/components/BasicInfo.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/CategorySelect.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/ImageUploader.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/ImageUploaders.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/MultilingualFields.tsx
  apps/admin/src/pages/BrandEditPage/components/BasicInfo/index.tsx
  apps/admin/src/shared/components/multi-image-upload.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: show error message on brandSection
  apps/admin/src/pages/BrandEditPage/components/BrandSection.tsx
  apps/admin/src/pages/BrandEditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: show error message if banner images are less than maxLength
  apps/admin/src/pages/BrandEditPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandEditPage/index.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor: move add/edit/list into BrandPage
  apps/admin/src/Router.tsx
  apps/admin/src/pages/BrandEditPage/hooks/index.ts
  apps/admin/src/pages/BrandEditPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPage/AddPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/AddPage/index.tsx
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
  apps/admin/src/pages/BrandPage/EditPage/index.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/BrandFilters.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/BrandPagination.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/BrandTable.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/index.ts
  apps/admin/src/pages/BrandPage/ListPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/ListPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPage/ListPage/hooks/useAdminBrandListQuery.ts
  apps/admin/src/pages/BrandPage/ListPage/index.tsx
  apps/admin/src/pages/BrandPage/components/BannerImages.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/CategorySelect.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/ImageUploader.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/ImageUploaders.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/MultilingualFields.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/index.tsx
  apps/admin/src/pages/BrandPage/components/BrandSection.tsx
  apps/admin/src/pages/BrandPage/hooks/index.ts
  apps/admin/src/pages/BrandPage/hooks/queryKeys.ts
  apps/admin/src/pages/BrandPage/hooks/useAdminBrandQuery.ts
  apps/admin/src/pages/BrandPage/hooks/useCreateAdminBrandMutation.ts
  apps/admin/src/pages/BrandPage/hooks/useUpdateAdminBrandMutation.ts
  apps/admin/src/pages/BrandPage/utils/section.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update edit - BrandForm
  apps/admin/src/pages/BrandPage/EditPage/components/BrandForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: implement deleteMutation on click delete button
  apps/admin/src/pages/BrandPage/ListPage/components/BrandTable.tsx
  apps/admin/src/pages/BrandPage/ListPage/index.tsx
  apps/admin/src/pages/BrandPage/hooks/useDeleteAdminBrandMutation.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: update AdminBrandDetail interface
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat: define productCategory api function & interface
  apps/admin/src/shared/services/productCategory.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0
