Repository SeoulMomentTech/seoul-moment-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0, pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

.lintstagedrc:

{
  "apps/web/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/web exec prettier --write",
    "pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ],
  "apps/admin/src/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0"
  ]
}

chore(git): update commit helper and add git hooks
  .gemini/commands/commit.toml
  .gemini/skills/commit-helper/SKILL.md
  .husky/pre-push
Due: none

chore(git): expand protected branches in pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(web): handle invalid brandId in BrandTab
  apps/web/src/features/promotion/ui/BrandTab.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): validate promotion ID and handle ID mismatch
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
  apps/web/src/shared/services/brandPromotion.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(web): extract isValidId to shared utils
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
  apps/web/src/app/[locale]/promotion/[id]/page.tsx
  apps/web/src/shared/lib/utils.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): remove redundant notFound from BrandTab
  apps/web/src/features/promotion/ui/BrandTab.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): refine promotion and brand promotion UI and logic
  apps/admin/src/pages/BrandPromotionPage/components/sections/BasicInfoSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/SectionListSection.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): refine UI logic and improve error handling
  apps/admin/src/pages/BrandPromotionPage/components/sections/EventSection.tsx
  apps/admin/src/pages/BrandPromotionPage/components/sections/SectionListSection.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): update home promotion data structure to match API
  apps/web/src/features/home/ui/PrimeSection/PromotionList.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/shared/services/home.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): update promotion ID field and redirect logic
  apps/web/src/app/[locale]/promotion/[id]/page.tsx
  apps/web/src/features/home/ui/PrimeSection/PromotionList.tsx
  apps/web/src/features/home/ui/PrimeSection/SeasonCollection.tsx
  apps/web/src/shared/services/home.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(sentry): enable Sentry only in production environment
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/instrumentation-client.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(sentry): refine initialization logic to check for DSN
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/instrumentation-client.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin/promotion): modularize PromotionForm and improve type safety
  apps/admin/src/pages/PromotionPage/EditPage.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/PromotionBasicInfo.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/PromotionImages.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/PromotionLanguages.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/index.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/usePromotionForm.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: add auto lint:fix hook for admin and web
  .gemini/scripts/lint-fix.sh
  .gemini/settings.json
  apps/admin/package.json
  package.json
Due: none

feat(admin,ci): improve error handling in admin and refine AI code review script
  .github/scripts/ai-code-review.js
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
  apps/admin/src/pages/ArticlePage/EditPage/index.tsx
  apps/admin/src/pages/BrandPage/EditPage/index.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/index.tsx
  apps/admin/src/pages/ProductMasterPage/EditPage.tsx
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/EditPage/index.tsx
  apps/admin/src/pages/PromotionPage/EditPage.tsx
  apps/admin/src/shared/components/dev-error-details.tsx
  apps/admin/src/shared/components/global-errorboundary.tsx
  apps/admin/src/shared/components/providers.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(admin): disable global throwOnError to enable local error handling
  apps/admin/src/shared/components/providers.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): decouple error handling and notification logic
  apps/admin/src/pages/BrandPromotionPage/AddPage.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useCreateBrandPromotionMutation.ts
  apps/admin/src/shared/components/providers.tsx
  apps/admin/src/shared/utils/error-message.ts
  apps/admin/src/shared/utils/notification.ts
  apps/admin/src/shared/utils/query-error-handler.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix: build error
  apps/admin/src/pages/PromotionPage/components/PromotionForm/PromotionBasicInfo.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/PromotionImages.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionForm/PromotionLanguages.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): migration to useAppQuery and update toaster position
  .gemini/skills/api-to-hook/references/query.md
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
  apps/admin/src/pages/ArticlePage/hooks/useAdminArticleListQuery.ts
  apps/admin/src/pages/ArticlePage/hooks/useAdminArticleQuery.ts
  apps/admin/src/pages/BrandPage/ListPage/hooks/useAdminBrandListQuery.ts
  apps/admin/src/pages/BrandPage/hooks/useAdminBrandQuery.ts
  apps/admin/src/pages/HomeBannerPage/hooks/useHomeBannerListQuery.ts
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsListQuery.ts
  apps/admin/src/pages/NewsPage/hooks/useAdminNewsQuery.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useAdminProductBannerDetailQuery.ts
  apps/admin/src/pages/ProductBannerPage/hooks/useAdminProductBannerListQuery.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useAdminCategoryListQuery.ts
  apps/admin/src/pages/ProductCategoriesPage/hooks/useAdminCategoryQuery.ts
  apps/admin/src/pages/ProductMasterPage/EditPage.tsx
  apps/admin/src/pages/ProductMasterPage/hooks/useAdminProductDetailQuery.ts
  apps/admin/src/pages/ProductMasterPage/hooks/useAdminProductListQuery.ts
  apps/admin/src/pages/ProductOptionsPage/hooks/useAdminProductOptionQuery.ts
  apps/admin/src/pages/ProductPage/EditPage/components/ProductEditForm.tsx
  apps/admin/src/pages/ProductPage/hooks/useAdminProductItemDetailQuery.ts
  apps/admin/src/pages/ProductPage/hooks/useAdminProductItemListQuery.ts
  apps/admin/src/pages/ProductSubCategoriesPage/hooks/useAdminProductCategoryListQuery.ts
  apps/admin/src/pages/ProductSubCategoriesPage/hooks/useAdminProductCategoryQuery.ts
  apps/admin/src/pages/PromotionPage/EditPage.tsx
  apps/admin/src/pages/PromotionPage/hooks/index.ts
  apps/admin/src/pages/UserPage/hooks/useAdminUserListQuery.ts
  apps/admin/src/shared/components/providers.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore(codex): add repo hooks and refresh local skills
  .codex/AGENTS.md
  .codex/hooks.json
  .codex/scripts/lint-fix.sh
  .codex/skills/api-to-hook/SKILL.md
  .codex/skills/api-to-hook/references/mutation.md
  .codex/skills/api-to-hook/references/query-key.md
  .codex/skills/api-to-hook/references/query.md
  .codex/skills/commit-helper/SKILL.md
  .codex/skills/github-pr-creator/SKILL.md
  .codex/skills/review-reflector/SKILL.md
  .codex/skills/swagger-to-code/SKILL.md
  .codex/skills/swagger-to-code/scripts/extract-swagger.js
Due: none

feat: .claude setting
  .claude/CLAUDE.md
  .claude/agents/admin-specialist.md
  .claude/agents/admin-ui-designer.md
  .claude/agents/qa-engineer.md
  .claude/agents/reviewer.md
  .claude/agents/seo-expert.md
  .claude/agents/tech-lead.md
  .claude/agents/web-specialist.md
  .claude/references/api.md
  .claude/references/general.md
  .claude/references/style.md
  .claude/scripts/lint-fix.sh
  .claude/skills/api-to-hook/SKILL.md
  .claude/skills/api-to-hook/references/mutation.md
  .claude/skills/api-to-hook/references/query-key.md
  .claude/skills/api-to-hook/references/query.md
  .claude/skills/commit-helper/SKILL.md
  .claude/skills/figma-to-code/SKILL.md
  .claude/skills/figma-to-code/references/architecture-pattern.md
  .claude/skills/figma-to-code/references/tailwind-v4-pattern.md
  .claude/skills/figma-to-code/references/ui-components-pattern.md
  .claude/skills/github-pr-creator/SKILL.md
  .claude/skills/swagger-to-code/SKILL.md
  .claude/skills/swagger-to-code/scripts/extract-swagger.js
  .gitignore
Due: none

refactor(admin): remove deprecated v1 update APIs and migrate to v2
  .claude/skills/swagger-to-code/SKILL.md
  apps/admin/src/pages/NewsPage/hooks/index.ts
  apps/admin/src/pages/NewsPage/hooks/useUpdateAdminNewsMutation.ts
  apps/admin/src/shared/services/article.ts
  apps/admin/src/shared/services/brand.ts
  apps/admin/src/shared/services/news.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

chore: update github-pr-creator SKILL
  .claude/skills/github-pr-creator/SKILL.md
Due: none

feat(web): make API base URL configurable via environment variable
  .claude/scripts/lint-fix.sh
  apps/web/src/shared/services/index.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

refactor(admin): extract PageSizeSelect into shared component
  apps/admin/src/pages/ArticlePage/components/ArticleFilters.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/BrandFilters.tsx
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFilters.tsx
  apps/admin/src/pages/NewsPage/components/NewsFilters.tsx
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryFilters.tsx
  apps/admin/src/pages/ProductMasterPage/components/ProductMasterFilters.tsx
  apps/admin/src/pages/ProductOptionsPage/components/ProductOptionFilters.tsx
  apps/admin/src/pages/ProductPage/components/ProductFilters.tsx
  apps/admin/src/pages/ProductSubCategoriesPage/components/SubCategoryFilters.tsx
  apps/admin/src/pages/PromotionPage/components/PromotionFilters.tsx
  apps/admin/src/shared/components/page-size-select.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): migrate home banner and brand APIs to V1 endpoints
  apps/admin/src/pages/BrandPage/hooks/useCreateAdminBrandMutation.ts
  apps/admin/src/pages/BrandPage/utils/form.ts
  apps/admin/src/pages/HomeBannerPage/components/BannerModal.tsx
  apps/admin/src/pages/HomeBannerPage/components/BannerPreview.tsx
  apps/admin/src/pages/HomeBannerPage/index.tsx
  apps/admin/src/shared/services/banner.ts
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): migrate home API to V1 endpoint
  apps/web/src/features/home/ui/PrimeSection/MainBanner.tsx
  apps/web/src/shared/services/home.ts
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

docs(skills): improve swagger-to-code skill with app-specific conventions
  .claude/skills/swagger-to-code/SKILL.md
Due: none

docs(skills): add review-declarative skill with severity system and batch analysis
  .claude/skills/review-declarative/SKILL.md
  .claude/skills/review-declarative/references/declarative-programming-summary.md
Due: none

docs(ai): unify instruction hierarchy across Claude, Gemini, and Codex
  .claude/CLAUDE.md
  .claude/settings.json
  .codex/AGENTS.md
  .gemini/GEMINI.md
  .gemini/docs/monorepo.md
  apps/admin/.claude/CLAUDE.md
  apps/admin/.codex/AGENTS.md
  apps/admin/.gemini/GEMINI.md
  apps/admin/.gemini/docs/admin.md
  apps/web/.claude/CLAUDE.md
  apps/web/.codex/AGENTS.md
  apps/web/.gemini/GEMINI.md
  apps/web/.gemini/docs/web.md
  packages/ui/.claude/CLAUDE.md
  packages/ui/.codex/AGENTS.md
  packages/ui/.gemini/GEMINI.md
Due: none

feat(admin): make notices/events optional and add drag-and-drop to ImageUploader
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionFormContent.tsx
  apps/admin/src/pages/BrandPromotionPage/hooks/useBrandPromotionForm.ts
  apps/admin/src/shared/components/image-uploader.tsx
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): conditionally render event and notice sections in promotion page
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): skip event section rendering when coupon list is empty
  apps/web/src/features/promotion/ui/BrandOnlineEvent/index.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): migrate category API to V1 endpoints
  apps/admin/src/pages/ProductCategoriesPage/components/CategoryTable.tsx
  apps/admin/src/pages/ProductCategoriesPage/hooks/useCreateAdminCategoryMutation.ts
  apps/admin/src/pages/ProductCategoriesPage/index.tsx
  apps/admin/src/pages/ProductCategoriesPage/utils/index.ts
  apps/admin/src/pages/ProductMasterPage/components/form/CategorySelector.tsx
  apps/admin/src/shared/services/category.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(admin): migrate brand API to V1 endpoints
  apps/admin/src/pages/ArticlePage/AddPage/components/ArticleForm.tsx
  apps/admin/src/pages/ArticlePage/EditPage/components/ArticleEditForm.tsx
  apps/admin/src/pages/BrandPage/ListPage/components/BrandTable.tsx
  apps/admin/src/pages/BrandPage/components/BasicInfo/CategorySelect.tsx
  apps/admin/src/pages/BrandPage/hooks/useUpdateAdminBrandMutation.ts
  apps/admin/src/pages/BrandPage/utils/form.ts
  apps/admin/src/pages/BrandPromotionPage/components/BrandPromotionForm.tsx
  apps/admin/src/pages/NewsPage/AddPage/components/NewsForm.tsx
  apps/admin/src/pages/NewsPage/EditPage/components/NewsEditForm.tsx
  apps/admin/src/pages/ProductMasterPage/components/form/BrandSelector.tsx
  apps/admin/src/shared/services/brand.ts
Due: pnpm --filter @seoul-moment/admin exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add Open Graph metadata and fix endless event date display
  apps/web/public/og-image.png
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/features/promotion/ui/BrandOfflinePopup/BrandOfflinePopupInfo.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

feat(web): add dynamic metadata for brand promotion detail page
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): add safe access for promotion sectionList and imageUrlList
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0

fix(web): add error logging for brand promotion metadata fetch failure
  apps/web/src/app/[locale]/promotion/[id]/brand/[brandId]/page.tsx
Due: pnpm --filter @seoul-moment/web exec prettier --write, pnpm --filter @seoul-moment/web exec eslint --config eslint.config.mjs --cache --max-warnings=0
